
body {
	background: #590000 url(/images/Pressurized/img01.jpg) repeat-x left -5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #CD7A7A;
}

div,p{
	margin:0px;
	padding:0px;}
.FontRed{
	color:#ff0000;}
.HighLight{
	color:#FE6603;
	font-family:Arial, Helvetica, sans-serif;}	

img{
	border:0;}
.FontRed{
	color:#ff0000;}		

h1, h2, h3 {
	margin: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #FFFFFF;
}

h1 {
	font-size: 2em;
	font-family:Microsoft Yahei;
}

h2 {
	font-size: 18px;
	font-family:"Microsoft Yahei","ºÚÌå";
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #CC0001;
}

a:hover {
	background: none;
	text-decoration: underline;
}

#wrapper {
	width: 910px;
	margin: 0 auto;
	padding: 0px;
}

/* Header */

#header {
	width: 910px;
	height: 114px;
	margin: 0 auto;
}

/* Logo */

#logo {
	float: left;
	width: 640px;
	color: #FFFFFF;
}

#logo h1, #logo p {
}

#logo h1 {
	padding: 0;
	margin-left: 30px;
	font-size: 2.6em;
}

#logo p {
	margin: 11px 0 0 30px;
	padding: 3px 0px;
	font: normal 12px Georgia, "Times New Roman", Times, serif;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Search */

#search {
	padding: 0;
}

#search form {
	height: 41px;
	margin: 0;
	padding: 0px 0 0 0px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 160px;
	border: none;
	font:  12px Arial, Helvetica, sans-serif;
	margin:0px;
	padding:0px;
	border:1px solid #E40000;
	height:25px;
	line-height:25px;
	padding-left:5px;
	color:#999999;
}

#search-submit {
	background:url(/images/Pressurized/search.gif) no-repeat left top;
	border:none;
	margin:0px;
	padding:0px;
	height:27px;
	clor:#FFFFFF;
	width:54px;
	cursor:pointer;}

/* Menu */

#menu {
	width: 910px;
	height: 50px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	margin-right: 3px;
	padding: 7px 20px 7px 20px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
}

#menu a:hover {
	background: #590000;
	margin-right: 3px;
	text-decoration: none;
}

#menu .current_page_item {
	background: #590000;
	margin-right: 3px;
}

/* Page */

#page {
	width: 910px;
	margin: 0 auto;
	padding-top: 10px;
}

/* Content */

#content {
	float: right;
	width: 590px;
	padding: 0px 10px 0 0;
}

#content .Web_Position{
	height:20px;
	padding-top:2px;
	}
	
#content .Web_Date{
	height:40px;
	float:left;
	padding-top:2px;}	
#content .Web_Weather{
	float:left;
	padding-left:10px;}
/* Contentbox */
#contentbox{
	padding-top:20px;}

#contentbox .title{
	margin:auto;
	font-size:25px;
	text-align:center;
	padding-bottom:20px;
	color:#FFFFFF;
	font-family:Microsoft Yahei,ºÚÌå;}

#contentbox .infos{
	margin:0;
	border-top:1px solid #2F0000;
	height:20px;
	padding:3px 0px;
	font-size:12px;
	background-color:#A00000;
	text-align:center;}
#contentbox .infos a{
	color:#FFFFFF;}	
	
#contentbox .infos li{
	line-height:normal;
	float:left;
	padding:0px 10px;}
	
#contentbox .maincontent{
	padding:20px 0px;
	line-height:180%;
	font-size:14px;}

#contentbox .maincontent  a:link{
	text-decoration:underline;}	
#contentbox .maincontent  a:visited{
	text-decoration:underline;}					

#contentbox .maincontent p{
	padding:5px;
	margin:0px;}

#contentbox  .ContentAbout dt{
	line-height:30px;
	font-weight:bold;}
#contentbox  .ContentAbout dd{
	line-height:25px;
	font-size:14px;}
#contentbox  .ContentTags{
	line-height:30px;}	

#content  .class_all{
	background-color:f5f5f5;
	line-height:22px;
	padding:5px;
	border:1px solid #ccc;
	margin-top:5px;
	margin-bottom:10px;}
#content  .class_all a{
	padding:0 10px;}	

#page  #content   .t_page{
	padding:10px;
	text-align:center;
	font-size:12px;
	line-height:25px;
	font-family:Arial, Helvetica, sans-serif;
	}	
#page  #content  .t_page a{
	padding:2px 5px;
	border:1px solid #DEDEDC;
	margin:0px 3px;}		
#contentbox p{
	padding:0px;}
	
#contentbox .prenext{
	padding-bottom:20px;
}	
#contentbox .comment{
	padding-top:10px;}

#contentbox .comment .commenttopic{
	line-height:30px;
	font-size:22px;
	font-family:"Microsoft Yahei";
	text-align:center;
	margin-bottom:20px;}

#contentbox .comment .commenttitle{
	height:25px;
	line-height:25px;
	font-weight:bold;
	font-size:14px;
	padding-left:20px;
	padding-bottom:10px;
	background:url(/images/p_icon2.gif) no-repeat 0px 2px;}	

#contentbox .comment .commentbox #commentform td{
	height:25px;}

#contentbox .comment .commentlist dt{
	padding:0px 10px;
	background-color:#3B0101;
	height:22px;
	line-height:22px;}	
#contentbox .comment .commentlist dd{
	padding:5px 0px 15px 0px;
	line-height:180%;
	font-size:12px;
	color:#FFFFFF;}	
#contentbox .comment .commentlist dd  b{
	color:#2F0000;}

#contentbox .comment .commentlist dd span{
	color:#A00000;}	
#contentbox .comment .commentlist p{
	padding:0px;
	line-height:180%;
	margin:0px;}

.post {
}

.post .title {
	color: #000000;
	margin:0px 0px 10px 0px;
}

.post .title a {
	background: none;
	color: #FFFFFF;
	border: none;
}

.post .title a:hover {
	text-decoration: underline;
}

.post .meta {

	background: #3C0101;
	border: 1px dashed #590000;
	padding: 3px 10px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align:right;
}
.post  .ArticleTags{
	padding-top:7px;}
.post .meta .comments,.post .meta .permalink {
}

.post .entry {
	padding: 10px 0 20px 0;
	text-align: justify;
}

#page .post.albumblock{
	
	}

#page .post .albumblock .inner{
	width:262px;
	height:198px;
	border:2px solid #e8e8e8;
	float:left;
	}

#page .post .albumblock .inner img{
	border:1px solid #fff;}	

#page .post .albumblock .inner  a:hover{
	text-decoration:none;}
#page .post .albumblock .inner  a:visited{
	text-decoration:none;}	
	
#page .post .albumblock .inner:hover{
	border:2px solid #2F0000;}

#page .post .rightcontent{
	width:310px;
	padding-left:10px;
	float:left;
	line-height:180%;
	font-size:12px;}
	
#content .morearticle{
	width:100%;
	text-align:right;}
 .adcontent2{
	width:336px;
	margin:auto;
	padding:10px 0px;}
 .adcontent3{
	width:468px;
	margin:auto;
	padding:15px 0px;}	

/* album css */

#albumbox{}

#albumbox .albumblock{
	padding:0px 14px 30px 10px;
	float:left;
	}

#albumbox .albumblock .inner{
	width:262px;
	height:198px;
	position:relative;
	border:2px solid #e8e8e8;
	overflow:hidden;}

#albumbox .albumblock .inner img{
	border:1px solid #fff;}	

#albumbox .albumblock .inner .albumtitle{
	height:50px;
	line-height:25px;
	font-size:14px;
	width:260px;
	background:#590000;
	position:relative;
	bottom:51px;
	left:0;
	color:#fff;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	opacity:0.7;
	font-weight:bold; 
	text-align:center;
	cursor:pointer;
	margin:auto;}
#albumbox .albumblock .inner .albumtitle span{
	font-weight:normal;
	font-size:12px;}	

#albumbox .albumblock .inner  a:hover{
	text-decoration:none;}
#albumbox .albumblock .inner  a:visited{
	text-decoration:none;}	
	
#albumbox .albumblock .inner:hover{
	border:2px solid #2F0000;}		

/* Sidebar */

#sidebar {
	float: left;
	width: 240px;
	padding: 20px 10px 30px 20px;
	background: #2F0000;
	border: 1px dashed #590000;
}

#sidebar .adright{
	padding-bottom:20px;}
	
#sidebar .myphoto{
	padding:0px 20px 5px 0px;
	width:80px;
	float:left;
	}
#sidebar .myphoto img{
	padding:1px;
	border:1px solid #e8e8e8;}
#sidebar .myphoto img:hover{
	border:1px solid #590000;}	
#sidebar .myintro{
	width:140px;
	padding:0px;
	float:left;
	line-height:180%;}
	
#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dashed #590000;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	height: 38px;
	padding: 12px 0 0 5px;
	letter-spacing: -.5px;
	color: #FFFFFF;
}

#sidebar p {
	padding-bottom: 20px;
	text-align: justify;
}

#sidebar a {
	color: #FFFFFF;
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #787878;
}

#sidebar #slidebox{
	padding:0px 0px 30px 0px;
	height:160px;}

#sidebar #slider {
		position: absolute;
		width: 213px;
		height: 160px;
		overflow: hidden;
	padding:1px;
	border:1px solid #e8e8e8;			
	}
#sidebar #slider .slide {
		position: absolute;
		height: 160px;
		width: 213px;
		background: #000;
		overflow: hidden;
		border-left: #ffffff solid 1px;
		cursor: default;
	}
#sidebar #slider .title   {
		color: #F80;
		font-weight: bold;
		font-size: 1.2em;
		margin-right: 1.5em;
		text-decoration: none;
	}
#sidebar #slider .backgroundText {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 100%;
		background: #000;
		filter: alpha(opacity=40);
		opacity: 0.4;
	}
#sidebar #slider .text {
		position: absolute;
		top: 1%;
		top: 100%;
		color: #FFF;
		font-size: 0.9em;
		text-align: justify;
		width: 180px;
		left: 10px;
	}
#sidebar #slider .diapo {
		position: absolute;
		filter: alpha(opacity=100);
		opacity: 1;
		visibility: hidden;
	}

.FriendLink{
	line-height:180%;
	padding:0 10px;}
.FriendLink a{
	padding:0px 10px 0px 0px;
	display:block;
	width:100px;
	overflow:hidden;
	float:left;}
/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}


/* search content */
#search_content .searchtip{
	line-height:25px;
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
	BORDER-bottom: #023848 1px solid;
	padding-top:10px;
}

#search_content .result_list{
	padding:10px 10px;
	width:100%;}
	
#search_content .result_list dt{
	font-size:14px;
	font-weight:bold;
	padding-top:10px;
	line-height:25px;
	font-family:Microsoft Yahei;}	
#search_content .result_list dt a{
	color:#FFFFFF;}
#search_content .result_list dd{
	padding:0 0 5px 0;
	margin:0px;
	line-height:20px;
	}	

#search_content .result_list .line {
	BORDER-bottom: #E9E8E8 1px dashed;}	

#search_content .result_list .line a{
	padding-right:20px;}

#search_content .result_list .line a:hover{
	text-decoration:none;}			
	
#search_content .search_welcome{
	line-height:25px;
	text-align:center;
	}
#search_content .search_welcome p{
	text-align:center;}		
#search_content .result_page{
	text-align:center;
	font-size:13px;
	padding:10px;}

#search_content .result_page span{
	font-size:12px;
	font-family:arial;
	padding:0 5px;
	}	

/* Footer */

#footer {
	width: 910px;
	margin: 0 auto;
	padding: 10px 0 10px 0;
	background: #2F0000;
	border-top: 1px dashed #590000;
	font-family: Arial, Helvetica, sans-serif;
	color: #CD7A7A;
}

#footer p {
	margin: 0;
	line-height: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
}

#footer .bottom_logo{
	float:left;
	padding-left:30px;}

#footer .bottom_txt {
	float:right;
	margin: 0;
	padding-right: 30px;
	text-align:right;
	line-height: 180%;
	font-size: 10px;
}


/* clearfix */
.clearfix:after{
	content:" ";
	display:block;
	visibility:hidden;
	height:0;
	clear:both;
}
.clearfix {
	clear:both;
}
.clearbox {
	clear:both; 
	width:996px; 
	margin:0 auto; 
	height:0; 
	overflow:hidden;}
.clear { 
	height:1%; 
	overflow:hidden; }