
body {
	margin: 0px;
	padding: 0;
	background: #F3F2ED url(/images/Yellow/img04.jpg) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #464646;
}
div,p{
	margin:0px;
	padding:0px;}
h1, h2, h3 {
	margin: 0;
	font-weight: normal;
	color: #549900;
}
.FontRed{
	color:#ff0000;}
h1 { font-size: 25px; }

h2 { font-size: 18px; }

h3 { }
.HighLight{
	color:#FE6603;
	font-family:Arial, Helvetica, sans-serif;}	

p, ul, ol {
	margin-top: 0;
	line-height: 240%;
}

ul, li {
	padding:0;
	margin:0; }

blockquote { }

a { color: #D99821; }

a:hover { text-decoration: none; }

a img {
	border: none;
}

img.left {
	float: left;
	margin: 7px 30px 0 0;
}

img.right {
	float: right;
	margin: 7px 0 0 30px;
}

hr { display: none; }

.list1 {
}

.list1 li {
	float: left;
	line-height: normal;
}

.list1 li img {
	margin: 0 30px 30px 0;
}

.list1 li.alt img {
	margin-right: 0;
}

#wrapper {
}

/* Header */

#header-wrapper {
	height: 60px;
	background: #131313;
}

#header {
	width: 920px;
	margin: 0 auto;
}

/* Menu */

#menu {
	float: left;
	width: 500px;
}

#menu ul {
	margin: 0;
	padding: 8px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	background: url(/images/Yellow/img01.jpg) no-repeat left 10px;
	display: block;
	float: left;
}

#menu a {
	display: block;
	float: left;
	height: 32px;
	padding: 14px 20px 0px 20px;
	letter-spacing: -1px;
	text-decoration: none;
	text-align: center;
	text-transform: lowercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
}

#menu a:hover { 
	text-decoration: underline; 
}

#menu .current_page_item a {
}

#menu .first {
}
/* Search */

#search {
	float: right;
	padding: 10px 10px 0px 0px;
}

#search form {
	float: right;
	margin: 0;
	padding: 4px 0px 0 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search input {
	float: left;
	font: 12px Georgia, "Times New Roman", Times, serif;
}

#search-text {
	width: 213px;
	height: 28px;
	padding: 6px 0 0 7px;
	border: none;
	background: url(/images/Yellow/img02.jpg) no-repeat left top;
	color: #000000;
}

#search-submit {
	width: 82px;
	height: 28px;
	margin-left: 10px;
	padding: 0px 5px;
	background: url(/images/Yellow/img03.jpg) no-repeat left top;
	border: none;
	text-indent: -9999px;
	color: #FFFFFF;
}

/* Page */

#page {
	width: 1000px;
	margin: 0px auto;
	margin: 0 auto;
	background: #FFFFFF url(/images/Yellow/img06.jpg) repeat-y left 20px;
}

#page-bgtop {
	width: 920px;
	margin: 0px auto;
	padding: 20px 40px;
	background: url(/images/Yellow/img05.jpg) no-repeat left top;
}

#page-bgtop .Web_Position{
	height:40px;
	padding-top:2px;}
	
#page-bgtop .Web_Date{
	height:40px;
	float:left;
	padding-top:2px;}	
#page-bgtop .Web_Weather{
	float:left;
	padding-left:10px;}
	/** LOGO */
/** LOGO */

#logo {
	width: 980px;
	height: 97px;
	margin: 0 auto;
	padding-top: 15px;
	padding-left: 20px;
	padding-bottom:5px;
}

#logo .WebInfo{
	float:left;
	padding:15px 5px 0 12px;
	font-family:"Microsoft Yahei";
	}
#logo .TopBanner{
	width:728px;
	float:right;
	padding:0px 20px 0 0;}	
#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	text-transform: lowercase;
	font-weight: normal;
	color: #FFFFFF;
}
#logo h1{
	font-family:"Microsoft Yahei","ºÚÌå";
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

#banner {
	padding-bottom: 20px;
}

/* Content */

#content {
	float: left;
	width: 610px;
}
#content  .class_all{
	background-color:f5f5f5;
	line-height:22px;
	padding:5px;
	border:1px solid #ccc;
	margin-bottom:10px;}
#content  .class_all a{
	padding:0 10px;}	
#page  #content   .t_page{
	padding:10px;
	text-align:center;
	font-size:12px;
	line-height:25px;
	font-family:Arial, Helvetica, sans-serif;
	}	
#page  #content  .t_page a{
	padding:2px 5px;
	border:1px solid #DEDEDC;
	margin:0px 3px;}
#contentbox p{
	padding:0px;}
#contentbox .title{
	margin:auto;
	font-size:25px;
	text-align:center;
	padding-bottom:20px;
	color:#023848;
	font-family:Microsoft Yahei,ºÚÌå;}

#contentbox .infos{
	border-top:1px solid #c9c9c9;
	height:20px;
	padding:3px 0px;
	font-size:12px;
	background-color:#f3f3f3;
	text-align:center;}
	
#contentbox .infos li{
	line-height:20px;
	float:left;
	padding:0px 10px;}
	
#contentbox .maincontent{
	padding:20px 0px;
	line-height:180%;
	font-size:14px;}

#contentbox .maincontent  a:link{
	text-decoration:underline;}	
#contentbox .maincontent  a:visited{
	text-decoration:underline;}					

#contentbox .maincontent p{
	padding:5px;
	margin:0px;}
	
#contentbox .prenext{
	padding-bottom:20px;
}
#contentbox  .ContentAbout dt{
	line-height:30px;
	font-weight:bold;}
#contentbox  .ContentAbout dd{
	line-height:25px;
	font-size:14px;}
#contentbox  .ContentTags{
	line-height:30px;}	
	
#contentbox .comment{
	padding-top:10px;}

#contentbox .comment .commenttopic{
	line-height:30px;
	font-size:22px;
	font-family:"Microsoft Yahei";
	text-align:center;
	margin-bottom:20px;}

#contentbox .comment .commenttitle{
	height:25px;
	line-height:25px;
	font-weight:bold;
	font-size:14px;
	padding-left:20px;
	padding-bottom:10px;
	background:url(/images/p_icon2.gif) no-repeat 0px 2px;}	

#contentbox .comment .commentbox #commentform td{
	height:25px;}

#contentbox .comment .commentlist dt{
	padding:0px 10px;
	background-color:#f5f5f5;
	height:22px;
	line-height:22px;}	
#contentbox .comment .commentlist dd{
	padding:5px 0px 15px 0px;
	line-height:180%;
	font-size:12px;
	}	
#contentbox .comment .commentlist dd  b{
	color:#ff9900;}

#contentbox .comment .commentlist dd span{
	color:#2D8930;}	
#contentbox .comment .commentlist p{
	padding:0px;
	line-height:180%;
	margin:0px;}		
/* Post */

.post {
	margin-bottom: 25px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #E0E0E0;
}

.post .title {
	height: 34px;
	font-family:"Microsoft Yahei","ºÚÌå";
}

.post .title a {
	text-decoration: none;
	font-size: 18px;
	color: #2E2E2E;
}
.post .title a:hover{
	text-decoration:underline;}
.post .meta {
	padding: 2px 30px 2px 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
	color: #66665E;
}

.post .meta span {
	display: block;
	margin-top: -10px;
}

.post .meta a { }

.post .entry {
	padding: 5px 0;
}
.post .entry p{
	line-height:25px;
	font-size:12px;}

.post .entry-content {
	float: right;
	width: 330px;
}

.post .entry-image {
	float: left;
	width: 280px;
	padding-right: 20px;
	padding-top: 6px;
	padding-bottom: 30px;
}

.post .links {
	margin: 0 250px 0 0;
	padding: 10px 0 0 0px;

}
.post .links  a{
	font-size:12px;}
.post .links .comments {
}

.post .links .permalink {
	padding-left: 17px;
}

#page .post.albumblock{
	
	}

#page .post .albumblock .inner{
	width:262px;
	height:198px;
	border:2px solid #e8e8e8;
	float:left;
	}

#page .post .albumblock .inner img{
	border:1px solid #fff;}	

#page .post .albumblock .inner  a:hover{
	text-decoration:none;}
#page .post .albumblock .inner  a:visited{
	text-decoration:none;}	
	
#page .post .albumblock .inner:hover{
	border:2px solid #D99821;}

#page .post .rightcontent{
	padding-left:10px;
	float:left;
	line-height:180%;
	font-size:12px;}
	
#content .morearticle{
	width:100%;
	text-align:right;}
 .adcontent2{
	width:336px;
	margin:auto;
	padding:10px 0px;}
 .adcontent3{
	width:468px;
	margin:auto;
	padding:15px 0px;}	
/* Sidebar */

#sidebar {
	float: right;
	width: 240px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#sidebar .myphoto{
	padding:0px 20px 5px 20px;
	width:80px;
	float:left;
	}
#sidebar .myphoto img{
	padding:1px;
	border:1px solid #e8e8e8;}
#sidebar .myphoto img:hover{
	border:1px solid #D99821;}	
#sidebar .myintro{
	border:none;
	padding:0px;
	float:left;
	line-height:180%;}
#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sidebar li {
	margin-bottom: 30px;
	padding: 0 0 10px 0px;
}

#sidebar li ul {
	margin: 0px 0px;
	border-left: 10px solid #E0E0E0;
}

#sidebar li li {
	margin: 0px 0px 0px 20px;
	padding: 10px 0px 10px 0px;
	border-bottom: 1px solid #E0E0E0;
}

#sidebar li li a {
	font-weight: normal;
}

#sidebar li li a:hover {
	color: #666666;
}

#sidebar p {
	margin: 0;
	padding: 0px 14px;
	border-left: 10px solid #E0E0E0;
}

#sidebar h2 {
	height: 30px;
	margin: 0 0 10px 0px;
	padding: 6px 0 2px 0px;
	text-transform: capitalize;
	font-size: 14px;
	font-weight: bold;
	color: #2E2E2E;
	font-family:"Microsoft Yahei";
}


#sidebar p {
	line-height: 200%;
}

#sidebar a {
	text-align: left;
	text-decoration: none;
	font-weight: bold;
	color: #666666;
}
/* index album */
#sidebar #slidebox{
	padding:0px 0px 0px 0px;
	height:180px;}

#sidebar #slider {
		position: absolute;
		width: 230px;
		height: 180px;
		overflow: hidden;
	padding:1px;
	border:1px solid #e8e8e8;			
	}
#sidebar #slider .slide {
		position: absolute;
		height: 181px;
		width: 230px;
		background: #000;
		overflow: hidden;
		border-left: #ffffff solid 1px;
		cursor: default;
	}
#sidebar #slider .title   {
		color: #F80;
		font-weight: bold;
		font-size: 1.2em;
		margin-right: 1.5em;
		text-decoration: none;
	}
#sidebar #slider .backgroundText {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 100%;
		background: #000;
		filter: alpha(opacity=40);
		opacity: 0.4;
	}
#sidebar #slider .text {
		position: absolute;
		top: 1%;
		top: 100%;
		color: #FFF;
		font-size: 0.9em;
		text-align: justify;
		width: 120px;
		left: 10px;
	}
#sidebar #slider .diapo {
		position: absolute;
		filter: alpha(opacity=100);
		opacity: 1;
		visibility: hidden;
	}
/* album css */
#albumbox{}

#albumbox .albumblock{
	padding:0px 10px 30px 20px;
	float:left;
	}

#albumbox .albumblock .inner{
	width:262px;
	height:198px;
	position:relative;
	border:2px solid #e8e8e8;
	overflow:hidden;}

#albumbox .albumblock .inner img{
	border:1px solid #fff;}	

#albumbox .albumblock .inner .albumtitle{
	height:50px;
	line-height:25px;
	font-size:14px;
	width:260px;
	background:#D99821;
	position:relative;
	bottom:51px;
	left:0;
	color:#fff;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	opacity:0.7;
	font-weight:bold; 
	text-align:center;
	cursor:pointer;
	margin:auto;}
#albumbox .albumblock .inner .albumtitle span{
	font-weight:normal;
	font-size:12px;}	

#albumbox .albumblock .inner  a:hover{
	text-decoration:none;}
#albumbox .albumblock .inner  a:visited{
	text-decoration:none;}	
	
#albumbox .albumblock .inner:hover{
	border:2px solid #D99821;}		

/* Calendar */

#calendar {
}

#calendar caption {
	padding-bottom: 5px;
	font-weight: bold;
}

#calendar table {
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-right: 1px solid #24130F;
}

#calendar thead th {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	background: #24130F;
}

#calendar tbody td {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot td {
	padding: 5px;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot #next {
	border-top: 1px solid #24130F;
	text-align: right;
}

#calendar tfoot #prev {
	border-top: 1px solid #24130F;
}

#calendar .pad {
	border-bottom: 1px solid #24130F;
}

#calendar #today {
	background: #24130F;
}
/* search content */
#search_content .searchtip{
	line-height:25px;
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
	BORDER-bottom: #023848 1px solid;
}

#search_content .result_list{
	padding:10px 10px;
	width:100%;}
	
#search_content .result_list dt{
	font-size:14px;
	font-weight:bold;
	padding-top:10px;
	line-height:25px;
	font-family:Microsoft Yahei;}	

#search_content .result_list dd{
	padding:0 0 5px 0;
	margin:0px;
	line-height:20px;
	}	

#search_content .result_list .line {
	BORDER-bottom: #E9E8E8 1px dashed;}	

#search_content .result_list .line a{
	padding-right:20px;}

#search_content .result_list .line a:hover{
	text-decoration:none;}			
	
#search_content .search_welcome{
	line-height:25px;
	text-align:center;
	}	
#search_content .result_page{
	text-align:center;
	font-size:13px;
	padding:10px;}

#search_content .result_page span{
	font-size:12px;
	font-family:arial;
	padding:0 5px;
	}	
/* Footer */

#footer {
	width: 920px;
	margin: 0 auto;
	padding: 0;
	border-top: 1px solid #E0E0E0;
}
.FriendLink{
	line-height:180%;
	padding:10px 20px;}
.FriendLink a{
	padding:0px 20px;}
#footer-bgcontent {
}
#footer{
	padding:20px 0;}
#footer p {
	margin: 0;
	padding: 30px 0px 0px 0px;
	text-align: center;
	line-height: normal;
	font-size: 12px;
}

#footer .bottom_logo{
	float:left;
	padding-left:30px;}

#footer .bottom_txt {
	float:right;
	margin: 0;
	padding-right: 30px;
	text-align:right;
	line-height: 180%;
	font-size: 10px;
}

.SystemInfo a{
	color:#F3F2ED;}


/* clearfix */
.clearfix:after{
	content:" ";
	display:block;
	visibility:hidden;
	height:0;
	clear:both;
}
.clearfix {
	clear:both;
}
.clearbox {
	clear:both; 
	width:996px; 
	margin:0 auto; 
	height:0; 
	overflow:hidden;}
.clear { 
	height:1%; 
	overflow:hidden; }