
* {
	padding: 0;
	margin: 0;
}
img{
	border:0;}

.FontRed{
	color:#F00;}
p{
	line-height:200%;}
a {
	text-decoration: none;
	color: #CF1302;
}

a:hover {
	text-decoration: underline;
	color:#b60000;}

body {
	background: #E0E0E0;
	font-size: 12px;
	color: #808080;
}

body,input {
	font-family: Tahoma, sans-serif;
}

h1,h2,h3,h4 {
	text-transform: lowercase;
	font-weight: normal;
	font-family:"Microsoft Yahei",Oswald, sans-serif;
}

h2 {
	font-size: 16px;
}

h2,h3,h4 {
	margin-bottom: 1em;
	color: #FFFFFF;
}

h3 {
	font-size: 1.75em;
}

h4 {
	font-size: 1.5em;
}


#content {
	padding: 0;
	width: 640px;
	float: left;
}

#footer {
	padding: 40px 0 95px 0;
	text-align: center;
	margin: 0 0 50px 0;
}

#footer a {
	color: #707070;
}

#header {
	color: #FFFFFF;
	width:100%;
	
}
.logoBG{
	width:100%;
	background: #8A7B65 url(images/img02.gif) repeat-x top left;
	height: 130px;
	border-top: solid 1px #F7F1E8;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
		}

#logo {
	width: 910px;
	margin:auto;
	top: 0;
	left: 35px;
	height: 130px;
	text-shadow: 0px 2px 1px #3F372B;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

#logo h1 {
	padding-top:20px;
	font-size: 32px;
}

#logo .left{
	float:left;}
#logo .left p{
	font-size:12px;}	

.menuBG{
	line-height: 55px;
	background: #DE2211 url(images/img04.gif) repeat-x top left;
	width:100%;
	height:55px;
	border-top: solid 1px #FC403C;
	border-bottom: solid 1px #B60000;
		}

#menu {
	line-height: 55px;
	width: 910px;
	background: #DE2211 url(images/img04.gif) repeat-x top left;
	font-family: "Microsoft Yahei",Oswald, sans-serif;
	height: 55px;
	margin:auto;
}

#menu a {
	color: #FFFFFF;
	text-transform: lowercase;
	font-size: 16px;
	text-decoration: none;
	text-shadow: 0px 1px 1px #590200;
}

#menu ul {
	list-style: none;
}

#menu ul li {
	padding: 0 25px 0 25px;
	display: inline;
}

#menu ul li.first {
	padding-left: 0;
}

#page {
	width: 910px;
	color: #5B5B5B;
	border-top: solid 1px #FFFFFF;
	padding: 45px 35px 15px 35px;
	background: #FFFFFF url(images/img03.gif) repeat-x top left;
	margin:auto;
	border-bottom: solid 5px #D0D0D0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#page .section-list {
	padding-left: 0;
	list-style: none;
}

#page .section-list li {
	padding: 20px 0 20px 0;
	clear: both;
}

#page a {
}

#page h2, #page h3, #page h4 {
	color: #2F2F2F;
	text-shadow: 0px 2px 0px #FFFFFF;
}

.post {
	overflow: hidden;
	margin-bottom: 40px;
	border-bottom: 1px solid #E7EBED;
}

.post .ArticleTags{
	font-size:12px;
	margin-bottom:10px;}
.post .title {
	padding: 0px 0px 0px 0px;
}

.post .title a {
	border: none;
	
}

.post .meta {
	padding: 0px 0px 0px 0px;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#666666;}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 10px 0px;
	text-align: justify;
}

.links {
	padding-top: 10px;
	font-size: 14px;
}
#content .Web_Position{
	height:30px;
	padding-top:2px;
	font-size:12px;}
	
#content .Web_Date{
	height:40px;
	float:left;
	padding-top:2px;
	font-size:12px;}	
#content .Web_Weather{
	float:left;
	padding-left:10px;}
/* Contentbox */
#contentbox{
	padding-top:20px;}

#contentbox .title{
	margin:auto;
	font-size:25px;
	text-align:center;
	padding-bottom:20px;
	color:#000000;
	font-family:Microsoft Yahei,黑体;}

#contentbox .infos{
	margin:0;
	border-top:1px solid #ccc;
	height:20px;
	padding:3px 0px;
	font-size:12px;
	background-color:#dededc;
	text-align:center;}
#contentbox .infos a{
	}	
	
#contentbox .infos li{
	line-height:normal;
	float:left;
	padding:0px 10px;}
	
#contentbox .maincontent{
	padding:20px 0px;
	line-height:180%;
	font-size:14px;}

#contentbox .maincontent  a:link{
	text-decoration:underline;}	
#contentbox .maincontent  a:visited{
	text-decoration:underline;}					

#contentbox .maincontent p{
	padding:5px;
	margin:0px;
	font-size:14px;}

#contentbox  .ContentAbout dt{
	line-height:30px;
	font-weight:bold;}
#contentbox  .ContentAbout dd{
	line-height:25px;
	font-size:14px;}
#contentbox  .ContentTags{
	line-height:30px;}	

#content  .class_all{
	background-color:f5f5f5;
	line-height:22px;
	padding:5px;
	border:1px solid #ccc;
	margin-top:5px;
	margin-bottom:10px;
	font-size:12px;
}
#content  .class_all a{
	padding:0 10px;}	

  #content   .t_page{
	padding:10px;
	text-align:center;
	font-size:12px;
	line-height:25px;
	font-family:Arial, Helvetica, sans-serif;
	}	
  #content  .t_page a{
	padding:2px 5px;
	border:1px solid #DEDEDC;
	margin:0px 3px;}		
#contentbox p{
	padding:0px;}
	
#contentbox .prenext{
	padding-bottom:20px;
}	
#contentbox .comment{
	padding-top:10px;}

#contentbox .comment .commenttopic{
	line-height:30px;
	font-size:22px;
	font-family:"Microsoft Yahei";
	text-align:center;
	margin-bottom:20px;}

#contentbox .comment .commenttitle{
	height:25px;
	line-height:25px;
	font-weight:bold;
	font-size:14px;
	padding-left:20px;
	padding-bottom:10px;
	background:url(/images/p_icon2.gif) no-repeat 0px 2px;}	

#contentbox .comment .commentbox #commentform td{
	line-height:45px;}

#contentbox .comment .commentlist dt{
	padding:5px 10px;
	background-color:#F5F5F5;
	height:22px;
	line-height:22px;
	font-size:12px;}	
#contentbox .comment .commentlist dd{
	padding:15px 0px 15px 0px;
	line-height:180%;
	font-size:14px;
	}	
#contentbox .comment .commentlist dd  b{
	color:#007d06;}

#contentbox .comment .commentlist dd span{
	color:#A00000;}	
#contentbox .comment .commentlist p{
	padding:0px;
	line-height:180%;
	margin:0px;}


#contentbox form input, form select, form textarea {
	padding: 5px;
	color: #333333;
	border: 1px solid #ddd;
	background-color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}



#content .post.albumblock{
	
	}

#content .post .albumblock .inner{
	width:262px;
	height:198px;
	border:2px solid #e8e8e8;
	float:left;
	}

#content .post .albumblock .inner img{
	border:1px solid #fff;
	margin:0px;
	padding:0px;	}	

#content .post .albumblock .inner  a:hover{
	text-decoration:none;}
#content .post .albumblock .inner  a:visited{
	text-decoration:none;}	
	
#content .post .albumblock .inner:hover{
	border:2px solid #FE7D23;}

#content .post .rightcontent{
	width:350px;
	padding-left:10px;

	float:left;
	line-height:180%;
	font-size:12px;}
	
#content .morearticle{
	width:100%;
	text-align:right;}
 .adcontent2{
	width:336px;
	margin:auto;
	padding:10px 0px;}
 .adcontent3{
	width:468px;
	margin:auto;
	padding:15px 0px;}	





/* album css */

#albumbox{}

#albumbox .albumblock{
	padding:0px 14px 20px 10px;
	float:left;
	}

#albumbox .albumblock .inner{
	width:262px;
	height:198px;
	position:relative;
	border:2px solid #e8e8e8;
	overflow:hidden;}

#albumbox .albumblock .inner img{
	border:1px solid #fff;
	margin:0px;
	padding:0px;}	

#albumbox .albumblock .inner .albumtitle{
	height:50px;
	line-height:25px;
	font-size:14px;
	width:260px;
	background:#CF1302;
	position:relative;
	bottom:51px;
	left:0;
	color:#fff;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	opacity:0.7;
	font-weight:bold; 
	text-align:center;
	cursor:pointer;
	margin:auto;}
#albumbox .albumblock .inner .albumtitle span{
	font-weight:normal;
	font-size:12px;}	

#albumbox .albumblock .inner  a:hover{
	text-decoration:none;}
#albumbox .albumblock .inner  a:visited{
	text-decoration:none;}	
	
#albumbox .albumblock .inner:hover{
	border:2px solid #b60000;}	



#search {
	float:right;
	line-height: 130px;
	height: 130px;
}

#search input#search-submit {
	border-top: solid 1px #FC403C;
	border-right: solid 1px #FC403C;
	border-bottom: solid 1px #B60000;
	border-left:none;
	font-family: Oswald, sans-serif;
	margin:0;
	color: #FFFFFF;
	height:25px;
	line-height:25px;
	padding:0px 5px;
	background: #CF1302;

}

#search input#search-text {
	background: #5C4D37;
	border: 0;
	border-bottom: solid 1px #A89983;
	padding:0px;
	color: #C4B8A8;
	width:150px;
	margin:0px;
	height:24px;
	line-height:24px;
	padding-left:5px;
	}

#sidebar {
	padding: 0;
	width: 250px;
	float:right;}

#wrapper {
	margin: 30px auto 0 auto;
	width:100%;	
}


#sidebar h2 {
	margin-top: 10px;
	padding: 10px 5px; 
	font-weight:normal;
	font-size:16px;
	color:#b60000;
	border-bottom:1px solid #dfdfdf;
	margin-bottom:10px;}
#sidebar a{
	color:#333;}
#sidebar a:hover {
	text-decoration: underline;
	color:#b60000;}	
#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar ul li {
	margin-bottom: 20px;
	line-height: 1.9em;}

#sidebar li ul {
}

#sidebar li ul li {
	font-family: Arial, Helvetica, sans-serif;
	border-top: none;
	padding: 6px 10px;
	margin: 0;
	line-height: 1.5em;
	
}

#sidebar .adright{
	padding-bottom:20px;}
	
#sidebar .myphoto{
	padding:0px 20px 5px 0px;
	width:80px;
	float:left;
	}
#sidebar .myphoto img{
	padding:1px;
	border:1px solid #e8e8e8;}
#sidebar .myphoto img:hover{
	border:1px solid #000000;}	
#sidebar .myintro{
	width:120px;
	padding:0px;
	float:left;
	line-height:180%;}

#sidebar #slidebox{
	padding:0px 0px 30px 0px;
	height:170px;}

#sidebar #slider {
		position: absolute;
		width: 230px;
		height: 170px;
		overflow: hidden;
	padding:1px;
	border:1px solid #e8e8e8;			
	}
#sidebar #slider .slide {
		position: absolute;
		height: 170px;
		width: 230px;
		background: #000;
		overflow: hidden;
		border-left: #ffffff solid 1px;
		cursor: default;
	}
#sidebar #slider .title   {
		color: #F80;
		font-weight: bold;
		font-size: 1.2em;
		margin-right: 1.5em;
		text-decoration: none;
	}
#sidebar #slider .backgroundText {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 100%;
		background: #000;
		filter: alpha(opacity=40);
		opacity: 0.4;
	}
#sidebar #slider .text {
		position: absolute;
		top: 1%;
		top: 100%;
		color: #FFF;
		font-size: 0.9em;
		text-align: justify;
		width: 180px;
		left: 10px;
	}
#sidebar #slider .diapo {
		position: absolute;
		filter: alpha(opacity=100);
		opacity: 1;
		visibility: hidden;
	}

.FriendLink{
	line-height:180%;
	padding:0 10px;}
.FriendLink a{
	padding:0px 10px 0px 0px;
	display:block;
	width:90px;
	overflow:hidden;
	float:left;}


/* search content */
#search_content .searchtip{
	line-height:25px;
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
	BORDER-bottom: #023848 1px solid;
	padding-top:10px;
}

#search_content .result_list{
	padding:10px 10px;
	width:100%;}
	
#search_content .result_list dt{
	font-size:14px;
	font-weight:bold;
	padding-top:10px;
	line-height:25px;
	font-family:Microsoft Yahei;}	
#search_content .result_list dt a{
}
#search_content .result_list dd{
	padding:0 0 5px 0;
	margin:0px;
	line-height:20px;
	font-size:12px;
	}	

#search_content .result_list .line {
	BORDER-bottom: #E9E8E8 1px dashed;}	

#search_content .result_list .line a{
	padding-right:20px;}

#search_content .result_list .line a:hover{
	text-decoration:none;}			

#search_content .result_list .gray{
	font-size:12px;}	
#search_content .search_welcome{
	line-height:25px;
	text-align:center;
	}
#search_content .search_welcome p{
	text-align:center;}		
#search_content .result_page{
	text-align:center;
	font-size:13px;
	padding:10px;}

#search_content .result_page span{
	font-size:12px;
	font-family:arial;
	padding:0 5px;
	}	

/* clearfix */
.clearfix:after{
	content:" ";
	display:block;
	visibility:hidden;
	height:0;
	clear:both;
}
.clearfix {
	clear:both;
}
.clearbox {
	clear:both; 
	width:996px; 
	margin:0 auto; 
	height:0; 
	overflow:hidden;}
.clear { 
	height:1%; }