* {
    margin: 0;
    padding: 0;
}

body {
    font: 12px "Times New Roman", Times, serif;
    text-align: center;
    color: #08665E;
    background: White url(/images/Reminiscent/bg.gif) repeat-x top;
}


.FontRed{
	color:#ff0000;}
.HighLight{
	color:#FE6603;
	font-family:Arial, Helvetica, sans-serif;}
	
#main #header .top{
	height:108px;}

#main #header h1 {
    padding: 10px 0 0 35px;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;
    color: #E0A66A;
	font-family: Microsoft Yahei,Arial, Helvetica, sans-serif;
}

#main #header h1 a {
    font-weight: normal;
    text-decoration: none;
    color: #E0A66A;
}

#main #header h1 a:hover {
    font-weight: normal;
    text-decoration: none;
    color: #E0A66A;
}

#main #header p {
    padding-left: 35px;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: #DEC5B5;
}

h2 {
    font-size: 16px;
    font-family: Microsoft Yahei,"ºÚÌå",Arial, Helvetica, sans-serif;
    line-height: 26px;
    color: #8C3307;
}

p {
	line-height:190%;
}

a {
    text-decoration: none;
    color: #FE7D23;
}

a:hover {
    text-decoration: underline;
    color: #FFBA63;
}

img {
	border:0;
	float:none;}



#main {
    position: relative;
    margin: 0 auto;
    width: 1070px;
    text-align: left;
    background: url(/images/Reminiscent/main.gif) repeat-y;
}

#corner1 {
    position: absolute;
    top: 152px;
    left: 0;
    width: 65px;
    height: 65px;
    background: url(/images/Reminiscent/corner1.jpg) no-repeat;
}

#corner2 {
    position: absolute;
    top: 152px;
    left: 1005px;
    width: 65px;
    height: 65px;
    background: url(/images/Reminiscent/corner2.jpg) no-repeat;
}

#header {
    padding: 0 65px;
    background: #652D01 url(/images/Reminiscent/bg.gif) repeat-x top;
}

#header2 {
    height: 152px;
    background: url(/images/Reminiscent/header.jpg) no-repeat;
}

#menu {
    padding-left: 20px;
    height: 42px;
}

#menu ul {
    padding: 0;
    list-style: none;
}

#menu ul li {
    float: left;
}

#menu ul li a {
    display: block;
    padding:0px 20px;
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 42px;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
    color: #DEC5B5;
    background: #9B4816 url(/images/Reminiscent/menu.jpg) no-repeat;
}


#menu ul li a.active, #menu ul li a:hover,#menu .current_page_item a {
    text-decoration: none;
    color: White;
    background: #FF8E1D url(/images/Reminiscent/menu_over.jpg) no-repeat;
}
#search {
    position: absolute;
    top: 108px;
    right: 85px;
    width: 234px;
    height: 30px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search #search-text {
	width: 160px;
	border: none;
	font:  12px Arial, Helvetica, sans-serif;
	margin:0px;
	padding:0px;
	border-left:1px solid #FE7D23;
	border-top:1px solid #FE7D23;
	border-bottom:1px solid #FE7D23;
	border-right:none;			
	height:23px;
	line-height:23px;
	padding-left:5px;
	color:#CCC;
}

#search #search-submit {
	background:url(/images/Reminiscent/search.gif) no-repeat left top;
	border:none;
	margin:0px;
	padding:0px;
	height:25px;
	color:#723D13;
	width:60px;
	cursor:pointer;}

#middle {
    padding: 18px 85px 0 85px;
}

#content {
    float: left;
    width: 646px;
}

#content .box {
    padding-bottom: 20px;
}

#content ul {
    padding: 8px 0 8px 35px;
}

#content ul li {
    padding: 0;
}



.post {
	margin-bottom: 10px;
	border-bottom: 1px dashed #E7E2DC;
	padding-right:20px;
}
.post .ArticleTags{
	font-size:12px;
	margin-bottom:10px;}
.post .title {
	padding: 0px 0px 0px 0px;
}

.post .title a {
	border: none;
	color: #FE7D23;
}

.post .meta {
	padding: 0px 0px 0px 0px;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#666666;}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 10px 0px;
	text-align: justify;
}

.links {
	padding-top: 10px;
	font-size: 14px;
}
#content .Web_Position{
	height:30px;
	padding-top:2px;
	font-size:12px;}
	
#content .Web_Date{
	height:40px;
	float:left;
	padding-top:2px;
	font-size:12px;}	
#content .Web_Weather{
	float:left;
	padding-left:10px;}
/* Contentbox */
#contentbox{
	padding-top:20px;}

#contentbox .title{
	margin:auto;
	font-size:25px;
	text-align:center;
	padding-bottom:20px;
	color:#000000;
	font-family:Microsoft Yahei,ºÚÌå;}

#contentbox .infos{
	margin:0;
	border-top:1px solid #ccc;
	height:20px;
	padding:3px 0px;
	font-size:12px;
	background-color:#dededc;
	text-align:center;}
#contentbox .infos a{
	}	
	
#contentbox .infos li{
	line-height:normal;
	float:left;
	padding:0px 10px;}
	
#contentbox .maincontent{
	padding:20px 0px;
	line-height:180%;
	font-size:14px;}

#contentbox .maincontent  a:link{
	text-decoration:underline;}	
#contentbox .maincontent  a:visited{
	text-decoration:underline;}					

#contentbox .maincontent p{
	padding:5px;
	margin:0px;
	font-size:14px;}

#contentbox  .ContentAbout dt{
	line-height:30px;
	font-weight:bold;}
#contentbox  .ContentAbout dd{
	line-height:25px;
	font-size:14px;}
#contentbox  .ContentTags{
	line-height:30px;}	

#content  .class_all{
	background-color:f5f5f5;
	line-height:22px;
	padding:5px;
	border:1px solid #ccc;
	margin-top:5px;
	margin-bottom:10px;}
#content  .class_all a{
	padding:0 10px;}	

  #content   .t_page{
	padding:10px;
	text-align:center;
	font-size:12px;
	line-height:25px;
	font-family:Arial, Helvetica, sans-serif;
	}	
  #content  .t_page a{
	padding:2px 5px;
	border:1px solid #DEDEDC;
	margin:0px 3px;}		
#contentbox p{
	padding:0px;}
	
#contentbox .prenext{
	padding-bottom:20px;
}	
#contentbox .comment{
	padding-top:10px;}

#contentbox .comment .commenttopic{
	line-height:30px;
	font-size:22px;
	font-family:"Microsoft Yahei";
	text-align:center;
	margin-bottom:20px;}

#contentbox .comment .commenttitle{
	height:25px;
	line-height:25px;
	font-weight:bold;
	font-size:14px;
	padding-left:20px;
	padding-bottom:10px;
	background:url(/images/p_icon2.gif) no-repeat 0px 2px;}	

#contentbox .comment .commentbox #commentform td{
	height:25px;}

#contentbox .comment .commentlist dt{
	padding:5px 10px;
	background-color:#dededc;
	height:22px;
	line-height:22px;
	font-size:12px;}	
#contentbox .comment .commentlist dd{
	padding:15px 0px 15px 0px;
	line-height:180%;
	font-size:14px;
	}	
#contentbox .comment .commentlist dd  b{
	color:#FE7D23;}

#contentbox .comment .commentlist dd span{
	color:#A00000;}	
#contentbox .comment .commentlist p{
	padding:0px;
	line-height:180%;
	margin:0px;}


#contentbox form input, form select, form textarea {
	padding: 5px;
	color: #333333;
	border: 1px solid #ddd;
	background-color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}



#content .post.albumblock{
	
	}

#content .post .albumblock .inner{
	width:262px;
	height:198px;
	border:2px solid #e8e8e8;
	float:left;
	}

#content .post .albumblock .inner img{
	border:1px solid #fff;
	margin:0px;
	padding:0px;	}	

#content .post .albumblock .inner  a:hover{
	text-decoration:none;}
#content .post .albumblock .inner  a:visited{
	text-decoration:none;}	
	
#content .post .albumblock .inner:hover{
	border:2px solid #FE7D23;}

#content .post .rightcontent{
	width:350px;
	padding-left:10px;
	float:left;
	line-height:180%;
	font-size:12px;}
	
#content .morearticle{
	width:100%;
	text-align:right;}
 .adcontent2{
	width:336px;
	margin:auto;
	padding:10px 0px;}
 .adcontent3{
	width:468px;
	margin:auto;
	padding:15px 0px;}	


/* album css */

#albumbox{}

#albumbox .albumblock{
	padding:0px 44px 30px 10px;
	float:left;
	}

#albumbox .albumblock .inner{
	width:262px;
	height:198px;
	position:relative;
	border:2px solid #e8e8e8;
	overflow:hidden;}

#albumbox .albumblock .inner img{
	border:1px solid #fff;
	margin:0px;
	padding:0px;}	

#albumbox .albumblock .inner .albumtitle{
	height:50px;
	line-height:25px;
	font-size:14px;
	width:260px;
	background:#FE7D23;
	position:relative;
	bottom:51px;
	left:0;
	color:#fff;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	opacity:0.7;
	font-weight:bold; 
	text-align:center;
	cursor:pointer;
	margin:auto;}
#albumbox .albumblock .inner .albumtitle span{
	font-weight:normal;
	font-size:12px;}	

#albumbox .albumblock .inner  a:hover{
	text-decoration:none;}
#albumbox .albumblock .inner  a:visited{
	text-decoration:none;}	
	
#albumbox .albumblock .inner:hover{
	border:2px solid #FE7D23;}	
	
#sidebar {
    float: right;
    padding: 0 0 25px 0;
    width: 234px;
	border-left:1px dashed #DEDEDC;
}

#sidebar h2 {
    padding-top: 25px;
	padding-bottom:10px;
    color: #FE7D23;
}

#sidebar ul {
    list-style: none;
}

#sidebar ul li {
    padding: 0 0 0 15px;
}

#sidebar ul li ul li {
    padding: 0 0 0 0px;
	border-bottom:1px dshed #dededc;
}

#sidebar ul li a {
    padding: 0;
    font-weight: normal;
    text-decoration: underline;
    line-height: 30px;
    color: #08665E;
}

#sidebar ul li a:hover {
    text-decoration: none;
    color: #08665E;
}

#sidebar .adright{
	padding-bottom:20px;}
	
#sidebar .myphoto{
	padding:0px 20px 5px 0px;
	width:80px;
	float:left;
	}
#sidebar .myphoto img{
	padding:1px;
	border:1px solid #e8e8e8;}
#sidebar .myphoto img:hover{
	border:1px solid #FE7D23;}	
#sidebar .myintro{
	width:110px;
	padding:0px;
	float:left;
	line-height:180%;}

#sidebar #slidebox{
	padding:0px 0px 30px 0px;
	height:160px;}

#sidebar #slider {
		position: absolute;
		width: 210px;
		height: 160px;
		overflow: hidden;
	padding:1px;
	border:1px solid #e8e8e8;			
	}
#sidebar #slider .slide {
		position: absolute;
		height: 160px;
		width: 210px;
		background: #000;
		overflow: hidden;
		border-left: #ffffff solid 1px;
		cursor: default;
	}
#sidebar #slider .title   {
		color: #F80;
		font-weight: bold;
		font-size: 1.2em;
		margin-right: 1.5em;
		text-decoration: none;
	}
#sidebar #slider .backgroundText {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 100%;
		background: #000;
		filter: alpha(opacity=40);
		opacity: 0.4;
	}
#sidebar #slider .text {
		position: absolute;
		top: 1%;
		top: 100%;
		color: #FFF;
		font-size: 0.9em;
		text-align: justify;
		width: 180px;
		left: 10px;
	}
#sidebar #slider .diapo {
		position: absolute;
		filter: alpha(opacity=100);
		opacity: 1;
		visibility: hidden;
	}

.FriendLink{
	line-height:180%;
	padding:0 0px;}
.FriendLink a{
	padding:0px 10px 0px 0px;
	display:block;
	width:100px;
	overflow:hidden;
	float:left;}

/* search content */
#search_content .searchtip{
	line-height:25px;
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
	BORDER-bottom: #023848 1px solid;
	padding-top:10px;
}

#search_content .result_list{
	padding:10px 10px;
	width:100%;}
	
#search_content .result_list dt{
	font-size:14px;
	font-weight:bold;
	padding-top:10px;
	line-height:25px;
	font-family:Microsoft Yahei;}	
#search_content .result_list dt a{
}
#search_content .result_list dd{
	padding:0 0 5px 0;
	margin:0px;
	line-height:20px;
	font-size:12px;
	}	

#search_content .result_list .line {
	BORDER-bottom: #E9E8E8 1px dashed;}	

#search_content .result_list .line a{
	padding-right:20px;}

#search_content .result_list .line a:hover{
	text-decoration:none;}			

#search_content .result_list .gray{
	font-size:12px;}	
#search_content .search_welcome{
	line-height:25px;
	text-align:center;
	}
#search_content .search_welcome p{
	text-align:center;}		
#search_content .result_page{
	text-align:center;
	font-size:13px;
	padding:10px;}

#search_content .result_page span{
	font-size:12px;
	font-family:arial;
	padding:0 5px;
	}	


#footer {
	width:940px;
	margin:auto;
    clear: both;
    padding:10px 0px;
    height: 40px;
    background: url(/images/Reminiscent/footer.jpg) repeat-x top;
	border-top:5px solid #dededc
}

#footer p {
    border-top: 1px solid #E1CCB6;
    font-size: 12px;
    line-height: 20px;
}

#footer .bottom_logo{
	float:left;
	}

#footer .bottom_txt {
	float:right;
	margin: 0;
	padding-right: 10px;
	text-align:right;
	line-height: 180%;
	font-size: 10px;
}
/* clearfix */
.clearfix:after{
	content:" ";
	display:block;
	visibility:hidden;
	height:0;
	clear:both;
}
.clearfix {
	clear:both;
}
.clearbox {
	clear:both; 
	width:996px; 
	margin:0 auto; 
	height:0; 
	overflow:hidden;}
.clear { 
	height:1%; 
	overflow:hidden; }
