
body {
	margin: 20px 0px 0px 0px;
	padding: 0;
	background: #191919 url(/images/perplex/img07.jpg) no-repeat right top;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	color: #3C3C3C;
}
img{
	border:none;}

* {
    margin: 0;
    padding: 0;
}

.FontRed{
	color:#ff0000;}
.HighLight{
	color:#FE6603;
	font-family:Arial, Helvetica, sans-serif;}

h1, h2, h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #CD3788;
}

h1 {
	font-size: 24px;
font-family: Microsoft Yahei,Arial, Helvetica, sans-serif;}

h2 {
	font-size: 18px;
 font-family: Microsoft Yahei,"ºÚÌå",Arial, Helvetica, sans-serif;}

h3 {
}

p {
	line-height: 190%;
}

ul, ol {
}

blockquote {
}

a {
	color: #CD3788;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


hr {
	display: none;
}

.list1 {
}

.list1 li {
	float: left;
	line-height: normal;
}

.list1 li img {
	margin: 0 30px 30px 0;
}

.list1 li.alt img {
	margin-right: 0;
}

#wrapper {
}

/* Header */

#header {
	width: 950px;
	height: 70px;
	margin: 0px auto;
}

/* Menu */

#menu {
}

#menu ul {
	margin: 0;
	padding: 8px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	float: left;
}

#menu a {
	display: block;
	float: left;
	height: 30px;
	background: #CD3788;
	margin-right: 3px;
	padding: 0px 30px 0px 35px;
	text-decoration: none;
	text-align: center;
	text-transform: lowercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FFFFFF;
	line-height:30px;
}

#menu a:hover {
	text-decoration: none;
	BACKGROUND:#e7e3e7;
	color:#CD3788;
}

#menu li.current_page_item {
}

#menu li.current_page_item a {
	BACKGROUND:#e7e3e7;
	color:#CD3788;}

#menu .first {
}


/* Page */

#page {
	width: 930px;
	margin: auto;
	padding: 10px;
	background: #E1E1E1;
}


/** LOGO */

#logo {
	width: 950px;
	height: 135px;
	margin: 0 auto;
	background: url(/images/perplex/img03.jpg) no-repeat left top;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	font-weight: normal;
	color: #FFFFFF;
}

#logo p {
	padding: 10px 0px 0px 145px;
	text-transform: lowercase;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #FFFFFF;
}

#logo h1 {
	padding: 20px 0px 0px 140px;
	letter-spacing: -1px;
	font-size: 32px;
}

#logo h1 a {
	text-decoration: none;
	color: #FFFFFF;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

#banner {
	padding-bottom: 20px;
}

/* Content */

#content {
	float: right;
	width: 650px;
	background: url(/images/perplex/img05.jpg) repeat-y left top;
	padding:10px 0px;
	margin:0px;
	}


#content .Web_Position{
	height:30px;
	padding-left:20px;
	font-size:12px;}
	
#content .Web_Date{
	height:40px;
	float:left;
	padding-left:20px;
	font-size:12px;
}	
#content .Web_Weather{
	float:left;
	padding-left:20px;}
/* Contentbox */
#contentbox{
	padding-top:20px;
	padding-left:20px;
	padding-right:20px;}

#contentbox .title{
	margin:auto;
	font-size:25px;
	text-align:center;
	padding-bottom:20px;
	font-family:Microsoft Yahei,ºÚÌå;}

#contentbox .infos{
	margin:0;
	border-top:1px solid #ccc;
	height:20px;
	padding:3px 0px;
	font-size:12px;
	background-color:#dededc;
	text-align:center;}
#contentbox .infos a{
	}	
	
#contentbox .infos li{
	line-height:normal;
	float:left;
	padding:0px 10px;}
	
#contentbox .maincontent{
	padding:20px 0px;
	line-height:180%;
	font-size:14px;}

#contentbox .maincontent  a:link{
	text-decoration:underline;}	
#contentbox .maincontent  a:visited{
	text-decoration:underline;}					

#contentbox .maincontent p{
	padding:5px;
	margin:0px;
	font-size:14px;}

#contentbox  .ContentAbout dt{
	line-height:30px;
	font-weight:bold;}
#contentbox  .ContentAbout dd{
	line-height:25px;
	font-size:14px;}
#contentbox  .ContentTags{
	line-height:30px;}	

#content  .class_all{
	background-color:f5f5f5;
	line-height:22px;
	padding:5px;
	border:1px solid #ccc;
	margin-top:5px;
	margin-bottom:10px;
	margin-left:20px;
	margin-right:20px;}
#content  .class_all a{
	padding:0 10px;}	

  #content   .t_page{
	padding:10px;
	text-align:center;
	font-size:12px;
	line-height:25px;
	font-family:Arial, Helvetica, sans-serif;
	}	
  #content  .t_page a{
	padding:2px 5px;
	border:1px solid #DEDEDC;
	margin:0px 3px;}		
#contentbox p{
	padding:0px;}
	
#contentbox .prenext{
	padding-bottom:20px;
}	
#contentbox .comment{
	padding-top:10px;
	padding-left:10px;
	padding-right:20px;
}

#contentbox .comment .commenttopic{
	line-height:30px;
	font-size:22px;
	font-family:"Microsoft Yahei";
	text-align:center;
	margin-bottom:20px;}

#contentbox .comment .commenttitle{
	height:25px;
	line-height:25px;
	font-weight:bold;
	font-size:14px;
	padding-left:20px;
	padding-bottom:10px;
	background:url(/images/p_icon2.gif) no-repeat 0px 2px;}	

#contentbox .comment .commentbox #commentform td{
	height:25px;}

#contentbox .comment .commentlist dt{
	padding:5px 10px;
	background-color:#E1E1E1;
	height:22px;
	line-height:22px;
	font-size:12px;}	
#contentbox .comment .commentlist dd{
	padding:15px 0px 15px 10px;
	line-height:180%;
	font-size:14px;
	}	
#contentbox .comment .commentlist dd  b{
	color:#B82E79;}

#contentbox .comment .commentlist dd span{
	color:#B82E79;}	
#contentbox .comment .commentlist p{
	padding:0px;
	line-height:180%;
	margin:0px;}


#contentbox form input, form select, form textarea {
	padding: 5px;
	color: #333333;
	border: 1px solid #ddd;
	background-color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}



#content .post.albumblock{
	
	}

#content .post .albumblock .inner{
	width:262px;
	height:198px;
	border:2px solid #e8e8e8;
	float:left;
	}

#content .post .albumblock .inner img{
	border:1px solid #fff;
	margin:0px;
	padding:0px;	}	

#content .post .albumblock .inner  a:hover{
	text-decoration:none;}
#content .post .albumblock .inner  a:visited{
	text-decoration:none;}	
	
#content .post .albumblock .inner:hover{
	border:2px solid #CD3788;}

#content .post .rightcontent{
	width:320px;
	padding-left:10px;
	float:left;
	line-height:180%;
	font-size:12px;}
	
#content .morearticle{
	padding:0px 0;
	width:100%;
	text-align:right;
	}
 .adcontent2{
	width:336px;
	margin:auto;
	padding:10px 0px;}
 .adcontent3{
	width:468px;
	margin:auto;
	padding:15px 0px;}	


/* album css */

#albumbox{
	padding-left:20px;}

#albumbox .albumblock{
	padding:0px 24px 30px 10px;
	float:left;
	}

#albumbox .albumblock .inner{
	width:262px;
	height:198px;
	position:relative;
	border:2px solid #e8e8e8;
	overflow:hidden;}

#albumbox .albumblock .inner img{
	border:1px solid #fff;
	margin:0px;
	padding:0px;}	

#albumbox .albumblock .inner .albumtitle{
	height:50px;
	line-height:25px;
	font-size:14px;
	width:260px;
	background:#CD3788;
	position:relative;
	bottom:51px;
	left:0;
	color:#fff;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	opacity:0.7;
	font-weight:bold; 
	text-align:center;
	cursor:pointer;
	margin:auto;}
#albumbox .albumblock .inner .albumtitle span{
	font-weight:normal;
	font-size:12px;}	

#albumbox .albumblock .inner  a:hover{
	text-decoration:none;}
#albumbox .albumblock .inner  a:visited{
	text-decoration:none;}	
	
#albumbox .albumblock .inner:hover{
	border:2px solid #CD3788;}	

/* Post */

.post {
	padding:0px 20px 0px 20px;
	}

.post .title {
	margin: 0px;
	padding: 0px 0px 0px 0px;
}


.post .title a {
	color: #CD3788;
}

.post .title a:hover {
	color: #424242;
}

.post .meta {
	padding: 4px 30px 2px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 10px;
	color: #66665E;
	text-align:right;
}

.post .ArticleTags{
	font-size:12px;}

.post .meta span {
	margin: 0px;
}

.post .meta a {
	text-decoration: none;
}

.post .entry {
	padding: 10px 0px 0px 0px;
}
.post .links{
	margin-bottom:20px;
	font-size:12px;
	font-weight:bold;
	border-bottom:1px dashed #dededc;
	line-height:30px;}


/* Sidebar */

#sidebar {
	float: left;
	width: 270px;
	font-family: Arial, Helvetica, sans-serif;
	padding-right:10px;
	font-size:12px;}

#sidebar ul {
	margin: 0;
	padding: 0;
	background:  none;
	list-style: none;
	line-height: normal;
}

#sidebar ul li {
	background: url(/images/perplex/img09.jpg) repeat-y left top;
	}

#sidebar li ul {
	margin: 0px 0px;
	padding: 0px 30px 20px 30px;
	background: url(/images/perplex/img10.jpg) no-repeat left bottom;
}

#sidebar li li {
	padding: 8px 0px 8px 10px;
	border-bottom: 1px solid #E0E0E0;
	background: url(/images/perplex/img12.jpg) no-repeat left 13px;
}

#sidebar li li a {
	font-weight: normal;
}

#sidebar li li a:hover {
	color: #CD3788;
}

#sidebar h2 {
	height:50px;
	margin: 0px;
	padding: 20px 0px 0px 30px;
	background: url(/images/perplex/img08.jpg) no-repeat left top;
	font-size: 18px;
	font-weight: normal;
	color: #CD3788;
}

#sidebar p {
	width:230px;
	margin:auto;
}

#sidebar a {
	text-align: left;
	text-decoration: none;
}

#sidebar .adright{
	padding-bottom:20px;}
	
#sidebar .myphoto{
	padding:0px 20px 5px 30px;
	width:80px;
	float:left;
	}
#sidebar .myphoto img{
	padding:1px;
	border:1px solid #e8e8e8;}
#sidebar .myphoto img:hover{
	border:1px solid #CD3788;}	
#sidebar .myintro{
	width:110px;
	padding:0px;
	float:left;
	line-height:180%;}

#sidebar #slidebox{
	padding:0px 0px 30px 30px;
	height:160px;}

#sidebar #slider {
		position: absolute;
		width: 210px;
		height: 160px;
		overflow: hidden;
	padding:1px;
	border:1px solid #e8e8e8;			
	}
#sidebar #slider .slide {
		position: absolute;
		height: 160px;
		width: 210px;
		background: #000;
		overflow: hidden;
		border-left: #ffffff solid 1px;
		cursor: default;
	}
#sidebar #slider .title   {
		color: #F80;
		font-weight: bold;
		font-size: 1.2em;
		margin-right: 1.5em;
		text-decoration: none;
	}
#sidebar #slider .backgroundText {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 100%;
		background: #000;
		filter: alpha(opacity=40);
		opacity: 0.4;
	}
#sidebar #slider .text {
		position: absolute;
		top: 1%;
		top: 100%;
		color: #FFF;
		font-size: 0.9em;
		text-align: justify;
		width: 180px;
		left: 10px;
	}
#sidebar #slider .diapo {
		position: absolute;
		filter: alpha(opacity=100);
		opacity: 1;
		visibility: hidden;
	}

.FriendLink{
	line-height:180%;
	padding:0 20px 10px 20px;}
.FriendLink a{
	padding:0px 10px 0px 0px;
	display:block;
	width:100px;
	overflow:hidden;
	float:left;}

/* search content */
#search_content{
	padding:0px 20px;}
#search_content .searchtip{
	line-height:25px;
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
	BORDER-bottom: #023848 1px solid;
	padding-top:10px;
}

#search_content .result_list{
	padding:10px 10px;
	width:100%;}
	
#search_content .result_list dt{
	font-size:14px;
	font-weight:bold;
	padding-top:10px;
	line-height:25px;
	font-family:Microsoft Yahei;}	
#search_content .result_list dt a{
}
#search_content .result_list dd{
	padding:0 0 5px 0;
	margin:0px;
	line-height:20px;
	font-size:14px;
	}	

#search_content .result_list .line {
	BORDER-bottom: #E9E8E8 1px dashed;}	

#search_content .result_list .line a{
	padding-right:20px;}

#search_content .result_list .line a:hover{
	text-decoration:none;}			

#search_content .result_list .gray{
	font-size:12px;}	
#search_content .search_welcome{
	line-height:25px;
	text-align:center;
	}
#search_content .search_welcome p{
	text-align:center;}		
#search_content .result_page{
	text-align:center;
	font-size:13px;
	padding:10px;}

#search_content .result_page span{
	font-size:12px;
	font-family:arial;
	padding:0 5px;
	}	
/* Search */


/* Search */

#search {
	padding: 20px 0 20px 30px;
	margin:auto;}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search #search-text {
	width: 150px;
	border: none;
	font:  12px Arial, Helvetica, sans-serif;
	margin:0px;
	padding:0px;
	border-left:1px solid #20252B;
	border-top:1px solid #20252B;
	border-bottom:1px solid #20252B;
	border-right:none;			
	height:25px;
	line-height:25px;
	padding-left:5px;
	color:#999999;
	background-color:#E7E3E7;}

#search #search-submit {
	background-color:#20252B;
	border:none;
	margin:0px;
	padding:0px;
	height:27px;
	width:54px;
	cursor:pointer;
	color:#FFFFFF;}


/* Calendar */

#calendar {
}

#calendar caption {
	padding-bottom: 5px;
	font-weight: bold;
}

#calendar table {
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-right: 1px solid #24130F;
}

#calendar thead th {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	background: #24130F;
}

#calendar tbody td {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot td {
	padding: 5px;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot #next {
	border-top: 1px solid #24130F;
	text-align: right;
}

#calendar tfoot #prev {
	border-top: 1px solid #24130F;
}

#calendar .pad {
	border-bottom: 1px solid #24130F;
}

#calendar #today {
	background: #24130F;
}

/* Footer */

#footer {
	width: 920px;
	height: 100px;
	margin: 0 auto;
	padding: 0;
}

#footer-bgcontent {
}

#footer .bottom_logo{
	float:left;
	padding-left:10px;
	padding-top:10px;}

#footer .bottom_txt {
	padding-top:10px;
	float:right;
	margin: 0;
	padding-right: 10px;
	text-align:right;
	line-height: 180%;
	font-size: 10px;
}

#footer a{
	color: #3C3C3C;}

/* clearfix */
.clearfix:after{
	content:" ";
	display:block;
	visibility:hidden;
	height:0;
	clear:both;
}
.clearfix {
	clear:both;
}
.clearbox {
	clear:both; 
	width:996px; 
	margin:0 auto; 
	height:0; 
	overflow:hidden;}
.clear { 
	height:1%; 
	overflow:hidden; }
