*{
    margin:0;
    padding:0;
}
        a{
            color:#fff;
            text-decoration:none;
        }
        a:hover{
            text-decoration:underline;
        }
        span.reference{
            padding-left:30px;
            bottom:0px;
            font-size:9px;
        	float:left;}
        span.reference a{
            color:#aaa;
        }
        span.reference a:hover{
            color:#ddd;
            text-decoration:none;
        }
body{
    background-color:#000;
    font-family:Verdana;
    text-transform:uppercase;
    color:#fff;
    font-size:10px;
}
.infobar{
    background-color:#000;
    height:28px;
    line-height:28px;
    z-index:999999999;
    text-align:center;
    color:#ddd;
    -moz-border-radius:10px 10px 0px 0px;
    -webkit-border-top-left-radius:10px;
    -webkit-border-top-right-radius:10px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    text-shadow:0px 0px 1px #ccc;
	margin:auto;
	width:960px;}
.infobar .reference{
	font-size:14px;}

span#description{
    text-shadow:1px 1px 1px #000;
    display:none;
}
span#loading{
    display:none;
    padding-right: 30px;
    background:transparent url(/images/loading.gif) no-repeat center right;
}
#thumbsWrapper{
    width:960px;
	margin:auto;
	}
#content{
   width:940px;
   background-color:#111;
   display:none; 
   padding:20px; 
}
#content img{
    float:left;
    margin:10px;
    cursor:pointer;
    opacity:0.4;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=40);
	width:190px;
	height:143px;
	padding:5px;
	border:5px solid #FFFFFF;}
.placeholder{
    float:left;
    clear:both;
    width:100%;
    height:30px;
}
#panel{
    background-color:#222;
    width:100%;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    height:0px;
    text-align:center; 
}
#panel img{
    cursor:pointer;
    position:relative;
    border:1px solid #000;
    -moz-box-shadow:0px 0px 10px #111;
    -webkit-box-shadow:0px 0px 10px #111;
    box-shadow:0px 0px 10px #111;
    display:none;
}

#wrapper{
    position:relative;
	width:100%;
    margin:40px auto 0px auto;
}
a#next,a#prev{
    width:40px;
    height:40px;
    position:absolute;
    cursor:pointer;
    outline:none;
    display:none;
    background:#aaa url(/images/nav.png) no-repeat top left;
}
a#next:hover, a#prev:hover{
    background-color:#fff;
}
a#next{
    right:0px;
    top:50%;
    margin-top:-20px;
    background-position: 0px 0px;
}
a#prev{
    left:0px;
    top:50%;
    margin-top:-20px;
    background-position: 0px -40px;
}

#footer{
	display:none;}