

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF url(/images/Orangemint/img01.gif) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #929495;
}

.FontRed{
	color:#ff0000;}
.HighLight{
	color:#FE6603;
	font-family:Arial, Helvetica, sans-serif;}
	
img {
	border:0px;}


* {
    margin: 0;
    padding: 0;
}
	
h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #810988;
	font-family:Microsoft Yahei;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size:18px;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #C25700;
}

a:hover {
	text-decoration: underline;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header-wrapper {
	height: 146px;
}

#header {
	width: 950px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}

/* Logo */

#logo {
	float: left;
	width: 350px;
	margin: 0;
	padding: 0;
	color: #B55100;
	background: url(/images/Orangemint/img02.jpg) no-repeat left 15px;
}

#logo h1, #logo p {
}

#logo h1 {
	padding: 40px 0px 0px 0px;
	font-size: 32px;
}

#logo p {
	margin: 0;
	padding: 0px 0 0 0px;
	font: normal 12px Georgia, "Times New Roman", Times, serif;
	color: #B55100;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #B55100;
}

/* Search */

#search {
	float: right;
	width: 280px;
	height: 80px;
	padding: 0px;
}

#search form {
	height: 40px;
	margin: 0;
	padding: 0px 0 0 10px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search #search-text {
	width: 160px;
	border: none;
	font:  12px Arial, Helvetica, sans-serif;
	margin:0px;
	padding:0px;
	border-left:1px solid #FF690C;
	border-top:1px solid #FF690C;
	border-bottom:1px solid #FF690C;
	border-right:none;			
	height:25px;
	line-height:25px;
	padding-left:5px;
	color:#999999;
}

#search #search-submit {
	background:url(/images/Orangemint/search.gif) no-repeat left top;
	border:none;
	margin:0px;
	padding:0px;
	height:27px;
	clor:#FFFFFF;
	width:54px;
	cursor:pointer;}

/* Menu */

#menu {
	float: right;
	width: 600px;
	height: 90px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	float: right;
	margin: 0;
	padding: 87px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	margin-right: 1px;
	padding: 13px 20px 10px 20px;
	text-decoration: none;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #B55100;
	border: none;
	background: #DEDEDC;
	
}

#menu a:hover, #menu .current_page_item a {
	background: #FE7805;
	text-decoration: none;
	color: #FFFFFF;
}

#menu .current_page_item a {
}

/* Page */

#page {
	width: 990px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
	background: url(/images/Orangemint/img03.jpg) repeat-y left top;
}

#page-bgtop {
	padding: 40px 0px 20px 0px;
	background: url(/images/Orangemint/img02.jpg) no-repeat left top;
}
/* Content */

#content {
	float: left;
	width: 650px;
	padding: 0px 0px 0px 0px;
}

.post {
	margin-bottom: 10px;
	border-bottom: 1px dashed #E7E2DC;
	padding-right:20px;
}
.post .ArticleTags{
	font-size:12px;
	margin-bottom:10px;}
.post .title {
	padding: 0px 0px 0px 20px;
	background: url(/images/Orangemint/title_icon1.jpg) no-repeat left 7px;
}

.post .title a {
	border: none;
	color: #C25700;
}

.post .meta {
	padding: 0px 0px 0px 0px;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 10px 0px;
	text-align: justify;
}

.links {
	padding-top: 20px;
	font-size: 12px;
	font-weight: bold;
}

#content .Web_Position{
	height:20px;
	padding-top:2px;
	font-size:12px;}
	
#content .Web_Date{
	height:40px;
	float:left;
	padding-top:2px;
	font-size:12px;}	
#content .Web_Weather{
	float:left;
	padding-left:10px;}
/* Contentbox */
#contentbox{
	padding-top:20px;}

#contentbox .title{
	margin:auto;
	font-size:25px;
	text-align:center;
	padding-bottom:20px;
	color:#000000;
	font-family:Microsoft Yahei,ºÚÌå;}

#contentbox .infos{
	margin:0;
	border-top:1px solid #ccc;
	height:20px;
	padding:3px 0px;
	font-size:12px;
	background-color:#dededc;
	text-align:center;}
#contentbox .infos a{
	}	
	
#contentbox .infos li{
	line-height:normal;
	float:left;
	padding:0px 10px;}
	
#contentbox .maincontent{
	padding:20px 0px;
	line-height:180%;
	font-size:14px;}

#contentbox .maincontent  a:link{
	text-decoration:underline;}	
#contentbox .maincontent  a:visited{
	text-decoration:underline;}					

#contentbox .maincontent p{
	padding:5px;
	margin:0px;}

#contentbox  .ContentAbout dt{
	line-height:30px;
	font-weight:bold;}
#contentbox  .ContentAbout dd{
	line-height:25px;
	font-size:14px;}
#contentbox  .ContentTags{
	line-height:30px;}	

#content  .class_all{
	background-color:f5f5f5;
	line-height:22px;
	padding:5px;
	border:1px solid #ccc;
	margin-top:5px;
	margin-bottom:10px;}
#content  .class_all a{
	padding:0 10px;}	

#page  #content   .t_page{
	padding:10px;
	text-align:center;
	font-size:12px;
	line-height:25px;
	font-family:Arial, Helvetica, sans-serif;
	}	
#page  #content  .t_page a{
	padding:2px 5px;
	border:1px solid #DEDEDC;
	margin:0px 3px;}		
#contentbox p{
	padding:0px;}
	
#contentbox .prenext{
	padding-bottom:20px;
}	
#contentbox .comment{
	padding-top:10px;}

#contentbox .comment .commenttopic{
	line-height:30px;
	font-size:22px;
	font-family:"Microsoft Yahei";
	text-align:center;
	margin-bottom:20px;}

#contentbox .comment .commenttitle{
	height:25px;
	line-height:25px;
	font-weight:bold;
	font-size:14px;
	padding-left:20px;
	padding-bottom:10px;
	background:url(/images/p_icon2.gif) no-repeat 0px 2px;}	

#contentbox .comment .commentbox #commentform td{
	height:25px;}

#contentbox .comment .commentlist dt{
	padding:0px 10px;
	background-color:#dededc;
	height:22px;
	line-height:22px;
	font-size:12px;}	
#contentbox .comment .commentlist dd{
	padding:5px 0px 15px 0px;
	line-height:180%;
	font-size:14px;
	}	
#contentbox .comment .commentlist dd  b{
	color:#2F0000;}

#contentbox .comment .commentlist dd span{
	color:#A00000;}	
#contentbox .comment .commentlist p{
	padding:0px;
	line-height:180%;
	margin:0px;}


#page .post.albumblock{
	
	}

#page .post .albumblock .inner{
	width:262px;
	height:198px;
	border:2px solid #e8e8e8;
	float:left;
	}

#page .post .albumblock .inner img{
	border:1px solid #fff;}	

#page .post .albumblock .inner  a:hover{
	text-decoration:none;}
#page .post .albumblock .inner  a:visited{
	text-decoration:none;}	
	
#page .post .albumblock .inner:hover{
	border:2px solid #FF7805;}

#page .post .rightcontent{
	width:340px;
	padding-left:10px;
	float:left;
	line-height:180%;
	font-size:12px;}
	
#content .morearticle{
	width:100%;
	text-align:right;}
 .adcontent2{
	width:336px;
	margin:auto;
	padding:10px 0px;}
 .adcontent3{
	width:468px;
	margin:auto;
	padding:15px 0px;}	


/* album css */

#albumbox{}

#albumbox .albumblock{
	padding:0px 14px 30px 10px;
	float:left;
	}

#albumbox .albumblock .inner{
	width:262px;
	height:198px;
	position:relative;
	border:2px solid #e8e8e8;
	overflow:hidden;}

#albumbox .albumblock .inner img{
	border:1px solid #fff;}	

#albumbox .albumblock .inner .albumtitle{
	height:50px;
	line-height:25px;
	font-size:14px;
	width:260px;
	background:#FF7805;
	position:relative;
	bottom:51px;
	left:0;
	color:#fff;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	opacity:0.7;
	font-weight:bold; 
	text-align:center;
	cursor:pointer;
	margin:auto;}
#albumbox .albumblock .inner .albumtitle span{
	font-weight:normal;
	font-size:12px;}	

#albumbox .albumblock .inner  a:hover{
	text-decoration:none;}
#albumbox .albumblock .inner  a:visited{
	text-decoration:none;}	
	
#albumbox .albumblock .inner:hover{
	border:2px solid #FF7805;}			
/* Sidebar */

#sidebar {
	float: right;
	width: 300px;
	margin: 0px;
	padding: 0px 20px 0px 0px;
	color: #FFFFFF;
	font-size:12px;
}

#sidebar .adright{
	padding-bottom:20px;}
	
#sidebar .myphoto{
	padding:0px 20px 5px 30px;
	width:80px;
	float:left;
	}
#sidebar .myphoto img{
	padding:1px;
	border:1px solid #e8e8e8;}
#sidebar .myphoto img:hover{
	border:1px solid #57ACF7;}	
#sidebar .myintro{
	width:150px;
	padding:0px;
	float:left;
	line-height:180%;}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0;
	padding: 0;
}

#sidebar li ul {
	margin: 0px 0px;
	padding-bottom: 40px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dotted #E7E2DC;
	margin: 0px 30px;
	border-left: none;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar li li a {
	padding: 0px 0px 0px 0px;
	background: url(/images/Orangemint/img01.jpg) no-repeat left 5px;
}

#sidebar h2 {
	height: 38px;
	padding-left: 30px;
	letter-spacing: -.5px;
	color: #FFFFFF;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 30px 20px 30px;
	text-align: justify;
}

#sidebar a {
	border: none;
	color: #FFFFFF;
}

#sidebar a:hover {
	text-decoration: underline;
}

#sidebar #slidebox{
	padding:0px 0px 30px 30px;
	height:170px;}

#sidebar #slider {
		position: absolute;
		width: 230px;
		height: 170px;
		overflow: hidden;
	padding:1px;
	border:1px solid #e8e8e8;			
	}
#sidebar #slider .slide {
		position: absolute;
		height: 170px;
		width: 230px;
		background: #000;
		overflow: hidden;
		border-left: #ffffff solid 1px;
		cursor: default;
	}
#sidebar #slider .title   {
		color: #F80;
		font-weight: bold;
		font-size: 1.2em;
		margin-right: 1.5em;
		text-decoration: none;
	}
#sidebar #slider .backgroundText {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 100%;
		background: #000;
		filter: alpha(opacity=40);
		opacity: 0.4;
	}
#sidebar #slider .text {
		position: absolute;
		top: 1%;
		top: 100%;
		color: #FFF;
		font-size: 0.9em;
		text-align: justify;
		width: 180px;
		left: 10px;
	}
#sidebar #slider .diapo {
		position: absolute;
		filter: alpha(opacity=100);
		opacity: 1;
		visibility: hidden;
	}

.FriendLink{
	line-height:180%;
	padding:0 30px;}
.FriendLink a{
	padding:0px 10px 0px 0px;
	display:block;
	width:100px;
	overflow:hidden;
	float:left;}


/* search content */
#search_content .searchtip{
	line-height:25px;
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
	BORDER-bottom: #023848 1px solid;
	padding-top:10px;
}

#search_content .result_list{
	padding:10px 10px;
	width:100%;}
	
#search_content .result_list dt{
	font-size:14px;
	font-weight:bold;
	padding-top:10px;
	line-height:25px;
	font-family:Microsoft Yahei;}	
#search_content .result_list dt a{
}
#search_content .result_list dd{
	padding:0 0 5px 0;
	margin:0px;
	line-height:20px;
	}	

#search_content .result_list .line {
	BORDER-bottom: #E9E8E8 1px dashed;}	

#search_content .result_list .line a{
	padding-right:20px;}

#search_content .result_list .line a:hover{
	text-decoration:none;}			

#search_content .result_list .gray{
	font-size:12px;}	
#search_content .search_welcome{
	line-height:25px;
	text-align:center;
	}
#search_content .search_welcome p{
	text-align:center;}		
#search_content .result_page{
	text-align:center;
	font-size:13px;
	padding:10px;}

#search_content .result_page span{
	font-size:12px;
	font-family:arial;
	padding:0 5px;
	}		
/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */
#bottom{
	margin:auto;
	background-color:#dededc;
	}
#footer {
	width:960px;
	height: 50px;
	margin: 0 auto;
	padding: 10px 0 0px 0;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding-top: 40px;
	line-height: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	color: #404040;
}

#footer a {
	color: #404040;
}
#footer .bottom_logo{
	float:left;
	}

#footer .bottom_txt {
	float:right;
	margin: 0;
	padding-right: 30px;
	text-align:right;
	line-height: 180%;
	font-size: 10px;
}
/* clearfix */
.clearfix:after{
	content:" ";
	display:block;
	visibility:hidden;
	height:0;
	clear:both;
}
.clearfix {
	clear:both;
}
.clearbox {
	clear:both; 
	width:996px; 
	margin:0 auto; 
	height:0; 
	overflow:hidden;}
.clear { 
	height:1%; 
	overflow:hidden; }