/* album class css */

	html {
		overflow: hidden;
	}
	body {
		margin: 0px;
		padding: 0px;
		background: #000;
		width: 100%;
		height: 100%;
		font-family:Microsoft Yahei;
	}
	#imageFlow {
		position: absolute;
		width: 100%;
		height: 90%;
		left: 0%;
		top: 0%;
		background: #000;
	}
#imageFlow .logotext{

	font-size:24px;
	font-weight:bold;
	}
#imageFlow  .AlbumAD{
	position: absolute;
	left:300px;
	top:10px;}
#imageFlow .logotext a:lnik{
	color:#000000;
	text-decoration:none;}
#imageFlow .logotext a:visited{
	color:#000000;
	text-decoration:none;}
#imageFlow .logotext a:hover{
	text-decoration:underline;}			
	
#imageFlow .slogan{
	padding:0px 10px 5px 5px;
	font-size:12px;
	}		
	#imageFlow .diapo {
		position: absolute;
		left: -1000px;
		cursor: pointer;
		-ms-interpolation-mode: nearest-neighbor;
	}
	#imageFlow .link {
		border: dotted #fff 1px;
		margin-left: -1px;
		margin-bottom: -1px;
	}
	#imageFlow .bank {
		visibility: hidden;
	}
	#imageFlow .top {
		position: absolute;
		width: 100%;
		height: 80px;
		background: #191919;
	}

#imageFlow .top .logotext{
	font-size:24px;
	font-weight:bold;
	color:#fff;
	position: absolute;
	left:150px;
	top:10px;
	}
#imageFlow .top .slogan{
	position: absolute;
	color:#fff;
	left:150px;
	top:50px;}

#imageFlow .top .logotext a:link{
	color:#fff;}
#imageFlow .top .logotext a:visited{
	color:#fff;}
#imageFlow .top .logotext a:hover{
	text-decoration:none;}	
			
	#imageFlow .text {
		position: absolute;
		left: 0px;
		width: 100%;
		bottom: 13%;
		text-align: center;
		color: #FFF;
		font-family: verdana, arial, Helvetica, sans-serif;
		z-index: 1000;
	}
	#imageFlow .title {
		font-family:Microsoft Yahei,arial;
		font-size:25px;;
	}
	#imageFlow .legend {
		font-size:14px;
		font-family:Microsoft Yahei,arial;
	}
	#imageFlow .scrollbar {
		position: absolute;
		left: 10%;
		bottom: 3%;
		width: 80%;
		height: 16px;
		z-index: 1000;
	}
	#imageFlow .track {
		position: absolute;
		left: 1%;
		width: 98%;
		height: 16px;
		filter: alpha(opacity=30);
		opacity: 0.3;
	}
	#imageFlow .arrow-left {
		position: absolute;
	}
	#imageFlow .arrow-right {
		position: absolute;
		right: 0px;
	}
	#imageFlow .bar {
		position: absolute;
		height: 16px;
		left: 25px;
	}

.SystemInfo{
	display:none;}		