
* {
    margin: 0;
    padding: 0;
}

body {
    font: 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #444444;
    background: #418AB5;
}
.FontRed{
	color:#ff0000;}
.HighLight{
	color:#FE6603;
	font-family:Arial, Helvetica, sans-serif;}
	
img {
	border:0px;}

h1 {
    padding: 15px 0 0 30px;
    font-size: 38px;
    color: #FFFFFF;
	font-family:Microsoft Yahei;
}

h1 a, h1 a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

p {
    padding: 0px 0;
    line-height: 1.8em;
}

p#subtitle {
    padding: 0 0 0 30px;
    font-size: 14px;
    color: #FFFFFF;
}

a {
    color: #4082B2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* header */

#header {
    position: relative;
    width: 960px;
    height: 200px;
    margin: 0 auto;
    background: #26639C url('/images/Undiscovered/header.jpg') no-repeat;
}

#header h1{
	font-weight:normal;}

#logo {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 60px;
    height: 77px;
    border: none;
}

/* menu */

#menu {
    padding: 35px 10px 0 0;
    height: 40px;
	font-size:14px;
}

#menu ul {
    float: right;
    list-style: none;
}

#menu ul li {
    display: block;
    float: left;
    color: #FFFFFF;
}

#menu ul li a {
    padding: 0 20px;
    color: #FFFFFF;
    text-decoration: none;
}
#menu ul li a:hover{
	text-decoration:underline;}
/* search form */

#search {
    position: absolute;
    top: 130px;
    left: 630px;
    width: 300px;
}

#search  #search-text {
    float: left;
    display: block;
    width: 198px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #B5D0E1;
    background: #4D8EB4 url('/images/Undiscovered/searchtxt.jpg') no-repeat;
    border-top: 1px solid #5B94B6;
	border-left: 1px solid #5B94B6;
	border-bottom: 1px solid #5B94B6;
	border-right:none;
	margin:0px;
	height:28px;
	line-height:28px;
	padding-left:10px;
}

#search #search-submit {
    float: left;
    display: block;
    width: 68px;
    height: 30px;
    font: 14px Arial, Helvetica, sans-serif;
    color: #7B9FB6;
    background: #114C76 url('/images/Undiscovered/submit.jpg') no-repeat left top;
    border-top: 1px solid #5B94B6;
	border-right: 1px solid #5B94B6;
	border-bottom: 1px solid #5B94B6;
	border-left:none;
    cursor: pointer;
	margin:0px;
	padding:0px;
}

/* main */

#main {
    width: 100%;
    min-width: 960px;
    padding: 10px 0;
    background: #FFFFFF;
}

#main2 {
    width: 928px;
    margin: 0 auto;
    padding: 15px 15px 0 15px;
    border: 1px solid #E0EBF2;
}

/* sidebar */

#sidebar {
    float: left;
    width: 240px;
    padding-bottom: 20px;
}

#sidebar .adright{
	padding-bottom:20px;}
	
#sidebar .myphoto{
	padding:0px 20px 5px 10px;
	width:80px;
	float:left;
	}
#sidebar .myphoto img{
	padding:1px;
	border:1px solid #e8e8e8;}
#sidebar .myphoto img:hover{
	border:1px solid #57ACF7;}	
#sidebar .myintro{
	width:120px;
	padding:0px;
	float:left;
	line-height:180%;}
	
#sidebar h2 {
    padding-left: 20px;
    margin-bottom: 13px;
    font-size: 15px;
    font-weight: normal;
    line-height: 38px;
    color: #FFFFFF;
    background: #3476A7 url('/images/Undiscovered/h2.jpg') no-repeat;
	font-family:"Microsoft Yahei","ºÚÌå";
}

#sidebar .box {
    padding: 15px 20px 20px 20px;
    background: url('/images/Undiscovered/box.jpg') no-repeat top;
}

#sidebar p {
    text-align: left;
}

#sidebar ul {
    list-style: none;
    padding: 5px 0 24px 0;
}

#sidebar ul li ul li {
    padding: 3px 0px 3px 0px;
    line-height: 1.8em;
    border-bottom: 1px solid #E0EBF2;
}

#sidebar ul li a {
    padding: 0;
}

#sidebar ul li ul{
	padding-left:10px;}

#sidebar #slidebox{
	padding:0px 0px 30px 10px;
	height:170px;}

#sidebar #slider {
		position: absolute;
		width: 213px;
		height: 170px;
		overflow: hidden;
	padding:1px;
	border:1px solid #e8e8e8;			
	}
#sidebar #slider .slide {
		position: absolute;
		height: 170px;
		width: 213px;
		background: #000;
		overflow: hidden;
		border-left: #ffffff solid 1px;
		cursor: default;
	}
#sidebar #slider .title   {
		color: #F80;
		font-weight: bold;
		font-size: 1.2em;
		margin-right: 1.5em;
		text-decoration: none;
	}
#sidebar #slider .backgroundText {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 100%;
		background: #000;
		filter: alpha(opacity=40);
		opacity: 0.4;
	}
#sidebar #slider .text {
		position: absolute;
		top: 1%;
		top: 100%;
		color: #FFF;
		font-size: 0.9em;
		text-align: justify;
		width: 180px;
		left: 10px;
	}
#sidebar #slider .diapo {
		position: absolute;
		filter: alpha(opacity=100);
		opacity: 1;
		visibility: hidden;
	}

.FriendLink{
	line-height:180%;
	padding:0 10px;}
.FriendLink a{
	padding:0px 10px 0px 0px;
	display:block;
	width:100px;
	overflow:hidden;
	float:left;}
/* content */

#content {
    float: right;
    width: 650px;
}

#content .Web_Position{
	height:20px;
	padding-top:2px;
	}
	
#content .Web_Date{
	height:40px;
	float:left;
	padding-top:2px;}	
#content .Web_Weather{
	float:left;
	padding-left:10px;}
/* Contentbox */
#contentbox{
	padding-top:20px;}

#contentbox .title{
	margin:auto;
	font-size:25px;
	text-align:center;
	padding-bottom:20px;
	color:#023848;
	font-family:Microsoft Yahei,ºÚÌå;}

#contentbox .infos{
	margin:0;
	border-top:1px solid #c9c9c9;
	height:20px;
	padding:3px 0px;
	font-size:12px;
	background-color:#f3f3f3;
	text-align:center;}
	
#contentbox .infos li{
	line-height:normal;
	float:left;
	padding:0px 10px;}
	
#contentbox .maincontent{
	padding:20px 0px;
	line-height:180%;
	font-size:14px;}

#contentbox .maincontent  a:link{
	text-decoration:underline;}	
#contentbox .maincontent  a:visited{
	text-decoration:underline;}					

#contentbox .maincontent p{
	padding:5px;
	margin:0px;}

#contentbox  .ContentAbout dt{
	line-height:30px;
	font-weight:bold;}
#contentbox  .ContentAbout dd{
	line-height:25px;
	font-size:14px;}
#contentbox  .ContentTags{
	line-height:30px;}	


#content  .class_all{
	background-color:f5f5f5;
	line-height:22px;
	padding:5px;
	border:1px solid #ccc;
	margin-top:5px;
	margin-bottom:10px;}
#content  .class_all a{
	padding:0 10px;}	

  #content   .t_page{
	padding:10px;
	text-align:center;
	font-size:12px;
	line-height:25px;
	font-family:Arial, Helvetica, sans-serif;
	}	
  #content  .t_page a{
	padding:2px 5px;
	border:1px solid #DEDEDC;
	margin:0px 3px;}		
#contentbox p{
	padding:0px;}
	
#contentbox .prenext{
	padding-bottom:20px;
}	
#contentbox .comment{
	padding-top:10px;}

#contentbox .comment .commenttopic{
	line-height:30px;
	font-size:22px;
	font-family:"Microsoft Yahei";
	text-align:center;
	margin-bottom:20px;}

#contentbox .comment .commenttitle{
	height:25px;
	line-height:25px;
	font-weight:bold;
	font-size:14px;
	padding-left:20px;
	padding-bottom:10px;
	background:url(/images/p_icon2.gif) no-repeat 0px 2px;}	

#contentbox .comment .commentbox #commentform td{
	height:25px;}

#contentbox .comment .commentlist dt{
	padding:5px 10px;
	background-color:#f5f5f5;
	height:22px;
	line-height:22px;}	
#contentbox .comment .commentlist dd{
	padding:15px 0px 15px 10px;
	line-height:180%;
	font-size:12px;
	color:#023848;}	
#contentbox .comment .commentlist dd  b{
	color:#185277;}

#contentbox .comment .commentlist dd span{
	color:#3476A8;}	
#contentbox .comment .commentlist p{
	padding:0px;
	line-height:180%;
	margin:0px;}	

#content .post {
    padding: 10px 0 15px 0;
	border-bottom:1px dashed #CCC;
	margin-bottom:15px;
}
#content .post .meta{
	padding:5px 0px;
	color:#999999;
	font-size:12px;}

#content h2 {
    font-size: 20px;
    color: #3476A8;
	font-family:"Microsoft Yahei","ºÚÌå";
	font-weight:normal;}

#content h2 a {
    color: #3476A8;
}

p.postmeta {
    color: #888888;
}

#content .entry {
    padding: 5px 0 0 0;
	font-size:14px;
}

.clearing {
    clear: both;
    height: 1px;
    overflow: hidden;
}

 .post .title

 .post.albumblock{
	
	}

 .post .albumblock .inner{
	width:262px;
	height:198px;
	border:2px solid #e8e8e8;
	float:left;
	}

 .post .albumblock .inner img{
	border:1px solid #fff;}	

 .post .albumblock .inner  a:hover{
	text-decoration:none;}
 .post .albumblock .inner  a:visited{
	text-decoration:none;}	
	
 .post .albumblock .inner:hover{
	border:2px solid #3476A8;}

 .post .rightcontent{
	width:310px;
	padding-left:10px;
	float:left;
	line-height:180%;
	font-size:12px;}
	
#content .morearticle{
	width:100%;
	text-align:right;}
 .adcontent2{
	width:336px;
	margin:auto;
	padding:10px 0px;}
 .adcontent3{
	width:468px;
	margin:auto;
	padding:15px 0px;}

/* album css */

#albumbox{}

#albumbox .albumblock{
	padding:0px 14px 30px 10px;
	float:left;
	}

#albumbox .albumblock .inner{
	width:262px;
	height:198px;
	position:relative;
	border:2px solid #e8e8e8;
	overflow:hidden;}

#albumbox .albumblock .inner img{
	border:1px solid #fff;}	

#albumbox .albumblock .inner .albumtitle{
	height:50px;
	line-height:25px;
	font-size:14px;
	width:260px;
	background:#3476A8;
	position:relative;
	bottom:51px;
	left:0;
	color:#fff;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	opacity:0.7;
	font-weight:bold; 
	text-align:center;
	cursor:pointer;
	margin:auto;}
#albumbox .albumblock .inner .albumtitle span{
	font-weight:normal;
	font-size:12px;}	

#albumbox .albumblock .inner  a:hover{
	text-decoration:none;}
#albumbox .albumblock .inner  a:visited{
	text-decoration:none;}	
	
#albumbox .albumblock .inner:hover{
	border:2px solid #3476A8;}



/* search content */
#search_content{
	padding-right:15px;
	}

#search_content .searchtip{
	line-height:25px;
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
	BORDER-bottom: #023848 1px solid;
	padding-top:10px;
}

#search_content .result_list{
	padding:10px 10px;
	width:100%;}
	
#search_content .result_list dt{
	font-size:14px;
	font-weight:bold;
	padding-top:10px;
	line-height:25px;
	font-family:Microsoft Yahei;}	

#search_content .result_list dd{
	padding:0 0 5px 0;
	margin:0px;
	line-height:20px;
	}	

#search_content .result_list .line {
	BORDER-bottom: #E9E8E8 1px dashed;}	

#search_content .result_list .line a{
	padding-right:20px;}

#search_content .result_list .line a:hover{
	text-decoration:none;}			
	
#search_content .search_welcome{
	line-height:25px;
	text-align:center;
	}
#search_content .search_welcome p{
	text-align:center;}		
#search_content .result_page{
	text-align:center;
	font-size:13px;
	padding:10px;}

#search_content .result_page span{
	font-size:12px;
	font-family:arial;
	padding:0 5px;
	}	

	
/* footer */

#footer {
    width: 960px;
    height: 70px;
    margin: 0 auto;
    padding-top: 10px;
    background: url('/images/Undiscovered/footer.jpg') no-repeat top;
	color:#FFFFFF}

#footer p {
    text-align: center;
    color: #FFFFFF;
}

#footer a {
    color: #AFD8E8;
}

#footer .bottom_logo{
	float:left;
	padding-left:30px;}

#footer .bottom_txt {
	float:right;
	margin: 0;
	padding-right: 30px;
	text-align:right;
	line-height: 180%;
	font-size: 10px;
}
/* clearfix */
.clearfix:after{
	content:" ";
	display:block;
	visibility:hidden;
	height:0;
	clear:both;
}
.clearfix {
	clear:both;
}
.clearbox {
	clear:both; 
	width:996px; 
	margin:0 auto; 
	height:0; 
	overflow:hidden;}
.clear { 
	height:1%; 
	overflow:hidden; }