
body {
	background: #FFFFFF url(/images/Splendid/img01.jpg) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #66665E;
}
.FontRed{
	color:#ff0000;}
.HighLight{
	color:#FE6603;
	font-family:Arial, Helvetica, sans-serif;}
	
img {
	border:0px;}

* {
    margin: 0;
    padding: 0;
}
	
h1, h2, h3 {
	font-family: "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #4B8749;
}

h1 { font-size: 44px; 
	font-family:"Microsoft Yahei","ºÚÌå", "Trebuchet MS", Georgia, "Times New Roman", Times, serif;}

h2 { font-size: 18px; 
	font-family:"Microsoft Yahei","ºÚÌå", "Trebuchet MS", Georgia, "Times New Roman", Times, serif;}


h3 { }

p {
	line-height: 190%;
}



a { color: #41ACE7; 
	 text-decoration: none;}

a:hover { text-decoration: underline; }


hr { display: none; }

#wrapper {
	padding:0 0 10px 0;}

/* Header */

#header-wrapper {
}

#header {
	width: 1000px;
	height: 64px;
	margin: 0 auto;
	background: url(/images/Splendid/img02.jpg) no-repeat left top;
}

/* Menu */

#menu {
	float: left;
	width: 800px;
	height: 64px;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 5px;
	list-style: none;
	line-height: normal;
}

#menu li {
	padding: 25px 25px 15px 25px;
	float: left;
}

#menu a {
	height: 20px;
	background: url(/images/Splendid/img07.jpg) no-repeat left 32px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}

#menu .current_page_item a {
	height: 20px;
	color: #FFFFFF;
}
/* Search */

#search {
	float: right;
	height: 50px;
}

#search form {
	margin: 0;
	padding: 25px 20px 0 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search input {
	float: left;
	font: 12px Georgia, "Times New Roman", Times, serif;
	border: none;
}

#search-text {
	width: 135px;
	height: 18px;
	padding: 3px 0 0 5px;
	border: 1px solid #000000;
	background: #ECF9E4;
	color: #666666;
	margin:0;
}

#search-submit {
	height: 21px;
	padding: 0px 5px;
	background: #000000;
	color: #FFFFFF;
	margin:0;
}

/* Page */

#page {
	width: 1000px;
	margin: 0 auto;
	background: url(/images/Splendid/img04.jpg) repeat-y left top;
}

#page-bgtop {
	padding-top: 30px;
	background: url(/images/Splendid/img03.jpg) no-repeat left top;
}

	/** LOGO */

#logo {
	width: 960px;
	height: 150px;
	margin: 0 auto;
}

#logo h1, #logo p {
	margin: 0px;
	color: #FFFFFF;
}

#logo p {
	font-size: 10px;
}

#logo h1 {
	padding-top: 40px;
	font-size: 34px;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Content */

#content {
	float: right;
	width: 688px;
	padding-right: 40px;
	}

#content .Web_Position{
	height:40px;
	padding-top:2px;
	}
	
#content .Web_Date{
	height:40px;
	float:left;
	padding-top:2px;}	
#content .Web_Weather{
	float:left;
	padding-left:10px;}
/* Contentbox */
#contentbox{
	padding-top:20px;}

#contentbox .title{
	margin:auto;
	font-size:25px;
	text-align:center;
	padding-bottom:20px;
	color:#023848;
	font-family:Microsoft Yahei,ºÚÌå;}

#contentbox .infos{
	margin:0;
	border-top:1px solid #c9c9c9;
	height:20px;
	padding:3px 0px;
	font-size:12px;
	background-color:#f3f3f3;
	text-align:center;}
	
#contentbox .infos li{
	line-height:normal;
	float:left;
	padding:0px 10px;}
	
#contentbox .maincontent{
	padding:20px 0px;
	line-height:180%;
	font-size:14px;}

#contentbox .maincontent  a:link{
	text-decoration:underline;}	
#contentbox .maincontent  a:visited{
	text-decoration:underline;}					

#contentbox .maincontent p{
	padding:5px;
	margin:0px;}

#contentbox  .ContentAbout dt{
	line-height:30px;
	font-weight:bold;}
#contentbox  .ContentAbout dd{
	line-height:25px;
	font-size:14px;}
#contentbox  .ContentTags{
	line-height:30px;}	


#content  .class_all{
	background-color:f5f5f5;
	line-height:22px;
	padding:5px;
	border:1px solid #ccc;
	margin-top:5px;
	margin-bottom:10px;}
#content  .class_all a{
	padding:0 10px;}	

  #content   .t_page{
	padding:10px;
	text-align:center;
	font-size:12px;
	line-height:25px;
	font-family:Arial, Helvetica, sans-serif;
	}	
  #content  .t_page a{
	padding:2px 5px;
	border:1px solid #DEDEDC;
	margin:0px 3px;}		
#contentbox p{
	padding:0px;}
	
#contentbox .prenext{
	padding-bottom:20px;
}	
#contentbox .comment{
	padding-top:10px;}

#contentbox .comment .commenttopic{
	line-height:30px;
	font-size:22px;
	font-family:"Microsoft Yahei";
	text-align:center;
	margin-bottom:20px;}

#contentbox .comment .commenttitle{
	height:25px;
	line-height:25px;
	font-weight:bold;
	font-size:14px;
	padding-left:20px;
	padding-bottom:10px;
	background:url(/images/p_icon2.gif) no-repeat 0px 2px;}	

#contentbox .comment .commentbox #commentform td{
	height:25px;}

#contentbox .comment .commentlist dt{
	padding:5px 10px;
	background-color:#f5f5f5;
	height:22px;
	line-height:22px;}	
#contentbox .comment .commentlist dd{
	padding:15px 0px 15px 10px;
	line-height:180%;
	font-size:14px;
	color:#023848;}	
#contentbox .comment .commentlist dd  b{
	color:#41ACE7;}

#contentbox .comment .commentlist dd span{
	color:#770744;}	
#contentbox .comment .commentlist p{
	padding:0px;
	line-height:180%;
	margin:0px;}	

/* Post */

.post {
	margin-bottom: 25px;
	border-bottom: 1px #BDBDBB dotted;
	font-size:14px;}

.post .title {
	height: 30px;
	color: #42423E;
	background: url(/images/Splendid/img08.jpg) no-repeat left 8px;
	padding-left:20px;}

.post .title a {
	color: #42423E;
}

.post .date {
}

.post .meta {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	color: #66665E;
	text-align:right;
}

.post .meta span {
	display: block;
	margin-top: -10px;
}

.post .meta a { }

.post .entry {
	padding: 10px 0;
}

.post .links {
	margin: 0 250px 0 0;
	padding: 0 0 0 0px;
}

.post .links .comments {
}

.post .links .permalink {
	padding-left: 17px;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 212px;
	padding-left: 22px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sidebar li {
	margin-bottom: 30px;
	padding: 0 0 10px 0px;
}

#sidebar li ul {
}

#sidebar li li {
	margin: 0 0 0 5px;
	padding-left: 10px;
	background: url(/images/Splendid/img09.jpg) no-repeat left 4px;
}

#sidebar p {
	margin: 0;
	padding: 0px 10px;
}

#sidebar h2 {
	height: 29px;
	margin: 0 0 10px 0px;
	padding: 5px 0 2px 10px;
	background: url(/images/Splendid/img06.jpg) no-repeat left top;
	font-size: 18px;
	color: #41ACE7;
}


#sidebar p {
	line-height: 200%;
}
#sidebar a {
	color: #696969;
}

#sidebar .adright{
	padding-bottom:20px;}
	
#sidebar .myphoto{
	padding:0px 20px 5px 0px;
	width:80px;
	float:left;
	}
#sidebar .myphoto img{
	padding:1px;
	border:1px solid #e8e8e8;}
#sidebar .myphoto img:hover{
	border:1px solid #41ACE7;}	
#sidebar .myintro{
	width:100px;
	padding:0px;
	float:left;
	line-height:180%;}

#sidebar #slidebox{
	padding:0px 0px 30px 0px;
	height:160px;}

#sidebar #slider {
		position: absolute;
		width: 203px;
		height: 160px;
		overflow: hidden;
	padding:1px;
	border:1px solid #e8e8e8;			
	}
#sidebar #slider .slide {
		position: absolute;
		height: 160px;
		width: 203px;
		background: #000;
		overflow: hidden;
		border-left: #ffffff solid 1px;
		cursor: default;
	}
#sidebar #slider .title   {
		color: #F80;
		font-weight: bold;
		font-size: 1.2em;
		margin-right: 1.5em;
		text-decoration: none;
	}
#sidebar #slider .backgroundText {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 100%;
		background: #000;
		filter: alpha(opacity=40);
		opacity: 0.4;
	}
#sidebar #slider .text {
		position: absolute;
		top: 1%;
		top: 100%;
		color: #FFF;
		font-size: 0.9em;
		text-align: justify;
		width: 180px;
		left: 10px;
	}
#sidebar #slider .diapo {
		position: absolute;
		filter: alpha(opacity=100);
		opacity: 1;
		visibility: hidden;
	}

.FriendLink{
	line-height:180%;
	padding:0 10px;}
.FriendLink a{
	padding:0px 10px 0px 0px;
	display:block;
	width:80px;
	overflow:hidden;
	float:left;}

 .post.albumblock{
	
	}

 .post .albumblock .inner{
	width:262px;
	height:198px;
	border:2px solid #e8e8e8;
	float:left;
	}

 .post .albumblock .inner img{
	border:1px solid #fff;}	

 .post .albumblock .inner  a:hover{
	text-decoration:none;}
 .post .albumblock .inner  a:visited{
	text-decoration:none;}	
	
 .post .albumblock .inner:hover{
	border:2px solid #41ACE7;}

 .post .rightcontent{
	width:400px;
	padding-left:10px;
	float:left;
	line-height:200%;
	font-size:12px;}
	
#content .morearticle{
	width:100%;
	text-align:right;}
 .adcontent2{
	width:336px;
	margin:auto;
	padding:10px 0px;}
 .adcontent3{
	width:468px;
	margin:auto;
	padding:15px 0px;}

/* album css */

#albumbox{}

#albumbox .albumblock{
	padding:0px 64px 30px 10px;
	float:left;
	}

#albumbox .albumblock .inner{
	width:262px;
	height:198px;
	position:relative;
	border:2px solid #e8e8e8;
	overflow:hidden;}

#albumbox .albumblock .inner img{
	border:1px solid #fff;}	

#albumbox .albumblock .inner .albumtitle{
	height:50px;
	line-height:25px;
	font-size:14px;
	width:260px;
	background:#41ACE7;
	position:relative;
	bottom:51px;
	left:0;
	color:#fff;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	opacity:0.7;
	font-weight:bold; 
	text-align:center;
	cursor:pointer;
	margin:auto;}
#albumbox .albumblock .inner .albumtitle span{
	font-weight:normal;
	font-size:12px;}	

#albumbox .albumblock .inner  a:hover{
	text-decoration:none;}
#albumbox .albumblock .inner  a:visited{
	text-decoration:none;}	
	
#albumbox .albumblock .inner:hover{
	border:2px solid #41ACE7;}



/* search content */
#search_content{
	padding-right:15px;
	}

#search_content .searchtip{
	line-height:25px;
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
	BORDER-bottom: #023848 1px solid;
	padding-top:10px;
}

#search_content .result_list{
	padding:10px 10px;
	width:100%;}
	
#search_content .result_list dt{
	font-size:14px;
	font-weight:bold;
	padding-top:10px;
	line-height:25px;
	font-family:Microsoft Yahei;}	

#search_content .result_list dd{
	padding:0 0 5px 0;
	margin:0px;
	line-height:20px;
	}	

#search_content .result_list .line {
	BORDER-bottom: #E9E8E8 1px dashed;}	

#search_content .result_list .line a{
	padding-right:20px;}

#search_content .result_list .line a:hover{
	text-decoration:none;}			
	
#search_content .search_welcome{
	line-height:25px;
	text-align:center;
	}
#search_content .search_welcome p{
	text-align:center;}		
#search_content .result_page{
	text-align:center;
	font-size:13px;
	padding:10px;}

#search_content .result_page span{
	font-size:12px;
	font-family:arial;
	padding:0 5px;
	}	


/* Calendar */

#calendar {
}

#calendar caption {
	padding-bottom: 5px;
	font-weight: bold;
}

#calendar table {
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-right: 1px solid #24130F;
}

#calendar thead th {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	background: #24130F;
}

#calendar tbody td {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot td {
	padding: 5px;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot #next {
	border-top: 1px solid #24130F;
	text-align: right;
}

#calendar tfoot #prev {
	border-top: 1px solid #24130F;
}

#calendar .pad {
	border-bottom: 1px solid #24130F;
}

#calendar #today {
	background: #24130F;
}

/* Footer */

#footer {
	width: 1000px;
	height: 95px;
	margin: 0 auto;
	padding: 0;
	background: url(/images/Splendid/img05.jpg) no-repeat left top;
}

#footer .bottom_logo{
	float:left;
	padding-left:30px;
	padding-top:45px;}

#footer .bottom_txt {
	float:right;
	margin: 0;
	padding-top:45px;
	padding-right: 30px;
	text-align:right;
	line-height: 180%;
	font-size: 10px;
}
/* clearfix */
.clearfix:after{
	content:" ";
	display:block;
	visibility:hidden;
	height:0;
	clear:both;
}
.clearfix {
	clear:both;
}
.clearbox {
	clear:both; 
	width:996px; 
	margin:0 auto; 
	height:0; 
	overflow:hidden;}
.clear { 
	height:1%; 
	overflow:hidden; }