
body {
	margin-top: 30px;
	background: #191919 url(/images/Thermal/img01.gif) repeat-x;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}

h1, h2, h3 {
	margin: 0;
	font-family: "Microsoft Yahei","ºÚÌå";
	font-weight: normal;
}
img{
	border:0px;}
	
.FontRed{
	color:#ff0000;}	
.HighLight{
	color:#FE6603;
	font-family:Arial, Helvetica, sans-serif;}
h1 {
	font-size: 1.8em;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	background: url(/images/Thermal/img05.gif) repeat-x left bottom;
	text-decoration: none;
	color: #C0BFBF;
}

a:hover {
	background: none;
	color: #FFFFFF;
}

/* Header */

#header {
	width: 988px;
	height: 150px;
	margin: 0 auto;
	background: url(/images/Thermal/img01.jpg) no-repeat left top;
}

/* Logo */

#logo {
	float: left;
}

#logo h1 {
	padding-top: 20px;
	padding-left: 25px;
	font-size: 2.9em;
}

#logo p {
	margin: 0;
	padding: 0px 0 0 30px;
	font-size: 12px;
	color: #FFFFFF;
} 

#logo a {
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Search */

#search {
	float: right;
	width: 200px;
	padding-top: 30px;
	padding-right:30px;
}

#search form {
	width: 200px;
	height: 41px;
	margin: 0;
	padding: 15px 0 0 18px;
	background: url(/images/Thermal/img03.gif) no-repeat;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	border: none;
	background: #FFFFFF;
	border: solid 1px #BDE119;
	color: #666666;
	width:150px;
	height:19px;
	line-height:19px;
	padding-left:5px;
	font-family:"Microsoft Yahei",arial;
}

#search-submit{
	background-color:#BDE119;
	border:none;
	height:23px;
	padding:0px 3px;
	font-family:"Microsoft Yahei",arial;
}

/* Menu */

#menu {
	width: 988px;
	height: 40px;
	margin: 0 auto;
}

#menu ul {
	margin: 0;
	padding: 10px 0 0 10px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	padding: 10px 20px;
	margin-right: 2px;
	text-decoration: none;
	font: bold 14px "Microsoft Yahei",Arial, Helvetica, sans-serif;
	color: #000000;
}

#menu a:hover, #menu .current_page_item a {
	color: #BDE119;
}

#menu a:hover {
	text-decoration: underline;
}

/* Page */

#page {
	width: 988px;
	margin: 0 auto;
	background: #FFFFFF url(/images/Thermal/img03.jpg) repeat-y left top;
	padding-top: 20px;
	font-family: "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
}

#page .Web_Position{
	height:20px;
	padding-top:2px;
	padding-bottom:10px;
	}
	
#page .Web_Date{
	height:40px;
	float:left;
	padding-top:2px;}	
#page .Web_Weather{
	float:left;
	padding-left:10px;}
/* Content */
#contentbox{
	padding-top:20px;}

#contentbox .title{
	margin:auto;
	font-size:25px;
	text-align:center;
	padding-bottom:20px;
	font-family:Microsoft Yahei,ºÚÌå;}

#contentbox .infos{
	margin:0;
	border-top:1px solid #c9c9c9;
	height:20px;
	padding:3px 0px;
	font-size:12px;
	background-color:#2C3A49;
	text-align:center;}
	
#contentbox .infos li{
	line-height:normal;
	float:left;
	padding:0px 10px;}
	
#contentbox .maincontent{
	padding:20px 0px;
	line-height:180%;
	font-size:14px;}

#contentbox .maincontent  a:link{
	text-decoration:underline;}	
#contentbox .maincontent  a:visited{
	text-decoration:underline;}					

#contentbox .maincontent p{
	padding:5px;
	margin:0px;}

#contentbox  .ContentAbout dt{
	line-height:30px;
	font-weight:bold;}
#contentbox  .ContentAbout dd{
	line-height:25px;
	font-size:14px;}
#contentbox  .ContentTags{
	line-height:30px;}	

/* Content */

#content {
	float: left;
	width: 630px;
	margin-left: 25px;
	display:inline;
}
#content  .class_all{
	background-color:f5f5f5;
	line-height:22px;
	padding:5px;
	border:1px solid #ccc;
	margin-top:5px;
	margin-bottom:10px;}
#content  .class_all a{
	padding:0 10px;}	

#page  #content   .t_page{
	padding:10px;
	text-align:center;
	font-size:12px;
	line-height:25px;
	font-family:Arial, Helvetica, sans-serif;
	}	
#page  #content  .t_page a{
	padding:2px 5px;
	border:1px solid #DEDEDC;
	margin:0px 3px;}		
#contentbox p{
	padding:0px;}
	
#contentbox .prenext{
	padding-bottom:20px;
}	
#contentbox .comment{
	padding-top:10px;}

#contentbox .comment .commenttopic{
	line-height:30px;
	font-size:22px;
	font-family:"Microsoft Yahei";
	text-align:center;
	margin-bottom:20px;}

#contentbox .comment .commenttitle{
	height:25px;
	line-height:25px;
	font-weight:bold;
	font-size:14px;
	padding-left:20px;
	padding-bottom:10px;
	background:url(/images/p_icon2.gif) no-repeat 0px 2px;}	

#contentbox .comment .commentbox #commentform td{
	height:25px;}

#contentbox .comment .commentlist dt{
	padding:0px 10px;
	background-color:#2C3A49;
	height:22px;
	line-height:22px;}	
#contentbox .comment .commentlist dd{
	padding:5px 0px 15px 0px;
	line-height:180%;
	font-size:12px;
	}	
#contentbox .comment .commentlist dd  b{
	color:#0EA90E;}

#contentbox .comment .commentlist dd span{
	color:#A1A2A3;}	
#contentbox .comment .commentlist p{
	padding:0px;
	line-height:180%;
	margin:0px;}		


#content a:hover{
	text-decoration:underline;}
.post {
}

.post .title {
	padding: 5px 0;
	border-bottom: 1px solid #354658;
	color: #FFFFFF;
}

.post .title a {
	color: #FFFFFF;
}

.post h2 {
	font-size: 1.6em;
}

.post .meta {
	padding: 2px 10px;
	background: #0D0D0D;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	text-align: right;
	font-size: 10px;
}

.post .entry {
	padding: 20px;
}

#page .post.albumblock{
	
	}

#page .post .albumblock .inner{
	width:262px;
	height:198px;
	border:2px solid #2C3A49;
	float:left;
	}

#page .post .albumblock .inner img{
	border:1px solid #fff;}	

#page .post .albumblock .inner  a:hover{
	text-decoration:none;}
#page .post .albumblock .inner  a:visited{
	text-decoration:none;}	
	
#page .post .albumblock .inner:hover{
	border:2px solid #BFE119;}

#page .post .rightcontent{
	width:310px;
	padding-left:10px;
	float:left;
	line-height:180%;
	font-size:12px;}
	
#content .morearticle{
	width:100%;
	text-align:right;}
 .adcontent2{
	width:336px;
	margin:auto;
	padding:10px 0px;}
 .adcontent3{
	width:468px;
	margin:auto;
	padding:15px 0px;}	

/* album css */

#albumbox{}

#albumbox .albumblock{
	padding:0px 14px 30px 10px;
	float:left;
	}

#albumbox .albumblock .inner{
	width:262px;
	height:198px;
	position:relative;
	border:2px solid #e8e8e8;
	overflow:hidden;}

#albumbox .albumblock .inner img{
	border:1px solid #fff;}	

#albumbox .albumblock .inner .albumtitle{
	height:50px;
	line-height:25px;
	font-size:14px;
	width:260px;
	background:#364656;
	position:relative;
	bottom:51px;
	left:0;
	color:#fff;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	opacity:0.7;
	font-weight:bold; 
	text-align:center;
	cursor:pointer;
	margin:auto;}
#albumbox .albumblock .inner .albumtitle span{
	font-weight:normal;
	font-size:12px;}	

#albumbox .albumblock .inner  a:hover{
	text-decoration:none;}
#albumbox .albumblock .inner  a:visited{
	text-decoration:none;}	
	
#albumbox .albumblock .inner:hover{
	border:2px solid #BFE119;}	



/* Sidebar */

#sidebar {
	float: right;
	width: 280px;
	background: #2C3A49;
	margin-right: 25px;
	padding-top: 20px;
	color: #7893AE;
	display:inline;
}
#sidebar .myphoto{
	padding:0px 20px 5px 20px;
	width:80px;
	float:left;
	}
#sidebar .myphoto img{
	padding:1px;
	border:1px solid #e8e8e8;}
#sidebar .myphoto img:hover{
	border:1px solid #BDE11B;}	
#sidebar .myintro{
	width:130px;
	padding:0px;
	float:left;
	line-height:180%;}
	
#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	padding:10px 0px 0 0;}

#sidebar li ul {
	padding: 23px;
}

#sidebar li li {
	background: url(/images/Thermal/img05.jpg) no-repeat left 50%;
	padding-left: 10px;
}

#sidebar h2 {
	padding: 5px 22px;
	background: url(/images/Thermal/img04.jpg) no-repeat bottom;
	font-size: 1.5em;
	color: #FFFFFF;
	margin:0px 0 10px 0px
}

#sidebar p {
	padding: 0px;
}

#sidebar #slidebox{
	padding:0px 0px 30px 20px;
	height:160px;}

#sidebar #slider {
		position: absolute;
		width: 213px;
		height: 160px;
		overflow: hidden;
	padding:1px;
	border:1px solid #e8e8e8;			
	}
#sidebar #slider .slide {
		position: absolute;
		height: 160px;
		width: 213px;
		background: #000;
		overflow: hidden;
		border-left: #ffffff solid 1px;
		cursor: default;
	}
#sidebar #slider .title   {
		color: #F80;
		font-weight: bold;
		font-size: 1.2em;
		margin-right: 1.5em;
		text-decoration: none;
	}
#sidebar #slider .backgroundText {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 100%;
		background: #000;
		filter: alpha(opacity=40);
		opacity: 0.4;
	}
#sidebar #slider .text {
		position: absolute;
		top: 1%;
		top: 100%;
		color: #FFF;
		font-size: 0.9em;
		text-align: justify;
		width: 180px;
		left: 10px;
	}
#sidebar #slider .diapo {
		position: absolute;
		filter: alpha(opacity=100);
		opacity: 1;
		visibility: hidden;
	}

.FriendLink{
	line-height:200%;
	padding:0 20px;
	}
.FriendLink a{
	padding:0px 10px 0px 0px;
	display:block;
	width:100px;
	overflow:hidden;
	float:left;}

/* search content */
#search_content .searchtip{
	line-height:25px;
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
	BORDER-bottom: #023848 1px solid;
	padding-top:10px;
}

#search_content .result_list{
	padding:10px 10px;
	width:100%;}
	
#search_content .result_list dt{
	font-size:14px;
	font-weight:bold;
	padding-top:10px;
	line-height:25px;
	font-family:Microsoft Yahei;}	

#search_content .result_list dd{
	padding:0 0 5px 0;
	margin:0px;
	line-height:20px;
	}	

#search_content .result_list .line {
	BORDER-bottom: #E9E8E8 1px dashed;}	

#search_content .result_list .line a{
	padding-right:20px;}

#search_content .result_list .line a:hover{
	text-decoration:none;}			
	
#search_content .search_welcome{
	line-height:25px;
	text-align:center;
	}
#search_content .search_welcome p{
	text-align:center;}		
#search_content .result_page{
	text-align:center;
	font-size:13px;
	padding:10px;}

#search_content .result_page span{
	font-size:12px;
	font-family:arial;
	padding:0 5px;
	}	



/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	width: 988px;
	margin: 0 auto;
	padding: 30px 0;
	height: 80px;
	background: url(/images/Thermal/img02.jpg) no-repeat left top;
	font-family: Arial, Helvetica, sans-serif;
	color: #121C27;
}

#footer p {
	margin: 0;
	line-height: normal;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
}

#footer a {
	color: #121C27;
}

#footer .bottom_logo{
	float:left;
	padding-left:30px;}

#footer .bottom_txt {
	float:right;
	margin: 0;
	padding-right: 30px;
	text-align:right;
	line-height: 180%;
	font-size: 10px;
}


.SystemInfo a{
	color: #191919;}

/* clearfix */
.clearfix:after{
	content:" ";
	display:block;
	visibility:hidden;
	height:0;
	clear:both;
}
.clearfix {
	clear:both;
}
.clearbox {
	clear:both; 
	width:996px; 
	margin:0 auto; 
	height:0; 
	overflow:hidden;}
.clear { 
	height:1%; 
	overflow:hidden; }