body {
	margin: 0px;
	padding: 0;
	background: url(/images/Brown/img01.jpg) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0E4456;
}
div{
	padding:0px;
	margin:0px;}
.HighLight{
	color:#FE6603;
	font-family:Arial, Helvetica, sans-serif;}	
h1, h2, h3 {
	margin: 0;
	font-weight: normal;
	color: #08252E;
	font-family:"Microsoft Yahei";
}

h1 { font-size: 30px; }

h2 { font-size: 18px; }

h3 { }

ul, ol {
	margin-top: 0;
	line-height: 220%;
}
ul li{
	list-style:none;}

ul, ol { }
.FontRed{
	color:red;}
blockquote { }

a { color: #842946; }

a:hover { text-decoration: none; }

a img {
	border: none;
}

img.left {
	float: left;
	margin: 7px 30px 0 0;
}

img.right {
	float: right;
	margin: 7px 0 0 30px;
}

hr { display: none; }

.list1 {
}

.list1 li {
	float: left;
	line-height: normal;
}

.list1 li img {
	margin: 0 30px 30px 0;
}

.list1 li.alt img {
	margin-right: 0;
}

#wrapper {
	margin: 0px;
	padding: 30px 0px 0px 0px;
}

/* Header */

#header-wrapper {
	margin: 0px;
	padding: 0px;
}

#header {
	width: 1000px;
	height: 60px;
	margin: 0 auto;
}

/* Menu */

#menu {
	float: left;
	width: 690px;
	height: 60px;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	float: left;
}

#menu a {
	display: block;
	float: left;
	height: 40px;
	margin-right: 4px;
	padding: 20px 25px 0px 25px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}

#menu a:hover { 
	text-decoration: none; 
	height: 40px;
	padding: 20px 25px 0px 25px;
	background: #280612;
}


#menu .current_page_item a {
	height: 40px;
	padding: 20px 25px 0px 25px;
	background: #280612;
	color: #FFFFFF;
}

#menu .first {
	background: none;
}
/* Search */

#search {
	float: right;
	width: 310px;
	height: 60px;
}

#search form {
	float: right;
	margin: 0;
	padding: 24px 30px 0 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search input {
	float: left;
	font: 12px Georgia, "Times New Roman", Times, serif;
	border: none;
}

#search-text {
	width: 200px;
	height: 18px;
	padding: 3px 0 0 5px;
	border: 1px solid #333333;
	background: #ECF9E4;
	color: #000000;
}

#search-submit {
	height: 21px;
	margin-left: 10px;
	padding: 0px 5px;
	background: #000000;
	color: #FFFFFF;
}

/* Page */

#page {
	width: 1000px;
	margin: 0 auto;
	padding: 0px;
	background: url(/images/Brown/img04.jpg) no-repeat left bottom;
}

#page-bgtop {
	padding: 10px 30px 0px 30px;
	background: url(/images/Brown/img05.jpg) no-repeat left top;
}
#page-bgtop .Web_Position{
	height:40px;
	padding-top:2px;}
	
#page-bgtop .Web_Date{
	height:40px;
	float:left;
	padding-top:2px;}	
#page-bgtop .Web_Weather{
	float:left;
	padding-left:10px;
	}
/** LOGO */

#logo {
	width: 1000px;
	height: 175px;
	margin: 0 auto;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	font-weight: normal;
	color: #FFFFFF;
}

#logo p {
	padding-left: 22px;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
}

#logo h1 {
	padding-left: 20px;
	padding-top: 50px;
	font-size: 25px;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

#logo h1 a {
	text-decoration: none;
	color: #FFFFFF;
}


#banner {
	float: right;
	margin-top: -80px;
	padding: 0px 20px 0px 0px;
}

/* Content */
#contentbox{}

#contentbox .title{
	margin:auto;
	font-size:25px;
	text-align:center;
	padding-bottom:20px;
	color:#023848;
	font-family:Microsoft Yahei,ºÚÌå;}

#contentbox .infos{
	margin:0;
	border-top:1px solid #c9c9c9;
	height:20px;
	padding:3px 0px;
	font-size:12px;
	background-color:#f3f3f3;
	text-align:center;}
	
#contentbox .infos li{
	line-height:normal;
	float:left;
	padding:0px 10px;}
	
#contentbox .maincontent{
	padding:20px 0px;
	line-height:180%;
	font-size:14px;}

#contentbox .maincontent  a:link{
	text-decoration:underline;}	
#contentbox .maincontent  a:visited{
	text-decoration:underline;}					

#contentbox .maincontent p{
	padding:5px;
	margin:0px;}
#contentbox  .ContentAbout dt{
	line-height:30px;
	font-weight:bold;}
#contentbox  .ContentAbout dd{
	line-height:25px;
	font-size:14px;}
#contentbox  .ContentTags{
	line-height:30px;}	

#content {
	float: left;
	width: 610px;
}

#content  .class_all{
	background-color:f5f5f5;
	line-height:22px;
	padding:5px;
	border:1px solid #ccc;
	margin-bottom:10px;}
#content  .class_all a{
	padding:0 10px;}	
#page  #content   .t_page{
	padding:10px;
	text-align:center;
	font-size:12px;
	line-height:25px;
	font-family:Arial, Helvetica, sans-serif;
	}	
#page  #content  .t_page a{
	padding:2px 5px;
	border:1px solid #DEDEDC;
	margin:0px 3px;}
#contentbox p{
	padding:0px;}
	
#contentbox .prenext{
	padding-bottom:20px;
}	
#contentbox .comment{
	padding-top:10px;}

#contentbox .comment .commenttopic{
	line-height:30px;
	font-size:22px;
	font-family:"Microsoft Yahei";
	text-align:center;
	margin-bottom:20px;}

#contentbox .comment .commenttitle{
	height:25px;
	line-height:25px;
	font-weight:bold;
	font-size:14px;
	padding-left:20px;
	padding-bottom:10px;
	background:url(/images/p_icon2.gif) no-repeat 0px 2px;}	

#contentbox .comment .commentbox #commentform td{
	height:25px;}

#contentbox .comment .commentlist dt{
	padding:0px 10px;
	background-color:#f5f5f5;
	height:22px;
	line-height:22px;}	
#contentbox .comment .commentlist dd{
	padding:5px 0px 15px 0px;
	line-height:180%;
	font-size:12px;
	color:#023848;}	
#contentbox .comment .commentlist dd  b{
	color:#0EA90E;}

#contentbox .comment .commentlist dd span{
	color:#842946;}	
#contentbox .comment .commentlist p{
	padding:0px;
	line-height:180%;
	margin:0px;}		

/* album css */

#albumbox{}

#albumbox .albumblock{
	padding:0px 14px 30px 10px;
	float:left;
	}

#albumbox .albumblock .inner{
	width:262px;
	height:198px;
	position:relative;
	border:2px solid #e8e8e8;
	overflow:hidden;}

#albumbox .albumblock .inner img{
	border:1px solid #fff;}	

#albumbox .albumblock .inner .albumtitle{
	height:50px;
	line-height:25px;
	font-size:14px;
	width:260px;
	background:#842946;
	position:relative;
	bottom:51px;
	left:0;
	color:#fff;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	opacity:0.7;
	font-weight:bold; 
	text-align:center;
	cursor:pointer;
	margin:auto;}
#albumbox .albumblock .inner .albumtitle span{
	font-weight:normal;
	font-size:12px;}	

#albumbox .albumblock .inner  a:hover{
	text-decoration:none;}
#albumbox .albumblock .inner  a:visited{
	text-decoration:none;}	
	
#albumbox .albumblock .inner:hover{
	border:2px solid #842946;}		

/* Post */

#page .post.albumblock{
	
	}

#page .post .albumblock .inner{
	width:262px;
	height:198px;
	border:2px solid #e8e8e8;
	float:left;
	}

#page .post .albumblock .inner img{
	border:1px solid #fff;}	

#page .post .albumblock .inner  a:hover{
	text-decoration:none;}
#page .post .albumblock .inner  a:visited{
	text-decoration:none;}	
	
#page .post .albumblock .inner:hover{
	border:2px solid #842946;}

#page .post .rightcontent{
	width:330px;
	padding-left:10px;
	float:left;
	line-height:180%;
	font-size:12px;}
	
.post {
	margin-bottom: 45px;
	border-bottom: 1px dashed #DFDFDF;
}

.post .title {
	height: 25px;
	color: #08252E;
}

.post .title a {
	text-decoration: none;
	font-size:22px;
	color: #08252E;
}

.post .title a:hover{
	text-decoration:underline;}

.post .date {
}

.post .meta {
	margin-left: 2px;
	padding: 2px 30px 2px 16px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
	color: #66665E;
}

.post .meta span {
	display: block;
	margin-top: -10px;
}

.post .meta a { }

.post .entry {
	padding: 0px 0 30px 0;
}

.post .entry p{
	line-height:25px;
	font-size:12px;}

.post .entry-content {
	float: right;
	width: 330px;
}

.post .entry-image {
	float: left;
	width: 280px;
	padding-right: 20px;
	padding-top: 6px;
	padding-bottom: 30px;
}
.post .links{
	font-size:12px;}
.post .links a {
	font-weight: bold;
	color: #08252E;
	font-size:12px;
}

.post .links .comments {
}

.post .links .permalink {
	padding-left: 17px;
}
#content .morearticle{
	width:100%;
	text-align:right;}
 .adcontent2{
	width:336px;
	margin:auto;
	padding:10px 0px;}
 .adcontent3{
	width:468px;
	margin:auto;
	padding:15px 0px;}	
/* Sidebar */

#sidebar {
	float: right;
	width: 300px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-left: 1px solid #DFDFDF;
	
}
#sidebar .adright{
	padding-bottom:20px;}
	
#sidebar h2{
	padding-bottom:15px;}
#sidebar .myphoto{
	padding:0px 20px 5px 0px;
	width:80px;
	float:left;
	}
#sidebar .myphoto img{
	padding:1px;
	border:1px solid #e8e8e8;}
#sidebar .myphoto img:hover{
	border:1px solid #842946;}	
#sidebar .myintro{
	padding:0px;
	float:left;
	line-height:180%;}

#sidebar ul {
	margin: 0px 0px 0px 30px;
	padding: 0;
	list-style: none;
	line-height: normal;
}


#sidebar li {
	margin-bottom: 15px;
}

#sidebar li ul {
	margin: 0px;
	padding: 0px;
}

#sidebar li li {
	margin: 0;
	padding: 12px 0px 12px 15px;
	border-bottom: 1px solid #DFDFDF;
	background: url(/images/Brown/img09.jpg)  no-repeat left 17px;
}

#sidebar li li a {
	font-weight: normal;
}

#sidebar li li a:hover {
text-decoration:underline;}

#sidebar p {
	line-height: 200%;
}

#sidebar h2 {
	height: 30px;
	text-transform: capitalize;
	font-size:20px;
	font-weight: normal;
}

#sidebar a {
	text-align: left;
	text-decoration: none;
	font-weight: bold;
}

/* index album */
#sidebar #slidebox{
	padding:0px 0px 30px 10px;
	height:196px;}

#sidebar #slider {
		position: absolute;
		width: 260px;
		height: 196px;
		overflow: hidden;
	padding:1px;
	border:1px solid #e8e8e8;			
	}
#sidebar #slider .slide {
		position: absolute;
		height: 196px;
		width: 260px;
		background: #000;
		overflow: hidden;
		border-left: #ffffff solid 1px;
		cursor: default;
	}
#sidebar #slider .title   {
		color: #F80;
		font-weight: bold;
		font-size: 1.2em;
		margin-right: 1.5em;
		text-decoration: none;
	}
#sidebar #slider .backgroundText {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 100%;
		background: #000;
		filter: alpha(opacity=40);
		opacity: 0.4;
	}
#sidebar #slider .text {
		position: absolute;
		top: 1%;
		top: 100%;
		color: #FFF;
		font-size: 0.9em;
		text-align: justify;
		width: 180px;
		left: 10px;
	}
#sidebar #slider .diapo {
		position: absolute;
		filter: alpha(opacity=100);
		opacity: 1;
		visibility: hidden;
	}


/* Calendar */

#calendar {
}

#calendar caption {
	padding-bottom: 5px;
	font-weight: bold;
}

#calendar table {
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-right: 1px solid #24130F;
}

#calendar thead th {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	background: #24130F;
}

#calendar tbody td {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot td {
	padding: 5px;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot #next {
	border-top: 1px solid #24130F;
	text-align: right;
}

#calendar tfoot #prev {
	border-top: 1px solid #24130F;
}

#calendar .pad {
	border-bottom: 1px solid #24130F;
}

#calendar #today {
	background: #24130F;
}

.FriendLink{
	line-height:180%;
	padding:0px 20px;}
.FriendLink a{
	padding:0px 20px;}	

/* search content */
#search_content .searchtip{
	line-height:25px;
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
	BORDER-bottom: #023848 1px solid;
}

#search_content .result_list{
	padding:10px 10px;
	width:100%;}
	
#search_content .result_list dt{
	font-size:14px;
	font-weight:bold;
	padding-top:10px;
	line-height:25px;
	font-family:Microsoft Yahei;}	

#search_content .result_list dd{
	padding:0 0 5px 0;
	margin:0px;
	line-height:20px;
	}	

#search_content .result_list .line {
	BORDER-bottom: #E9E8E8 1px dashed;}	

#search_content .result_list .line a{
	padding-right:20px;}

#search_content .result_list .line a:hover{
	text-decoration:none;}			
	
#search_content .search_welcome{
	line-height:25px;
	text-align:center;
	}	
#search_content .result_page{
	text-align:center;
	font-size:13px;
	padding:10px;}

#search_content .result_page span{
	font-size:12px;
	font-family:arial;
	padding:0 5px;
	}	
	
/* Footer */

#footer-bgcontent {
	margin: 0px;
	padding: 0px;
	height: 70px;
	background: url(/images/Brown/img02.jpg) repeat-x left top;
}

#footer {
	width: 1000px;
	height: 49px;
	margin: 0 auto;
	padding-top: 50px;
	background: url(/images/Brown/img03.jpg) no-repeat left top;
}
#footer .bottom_logo{
	float:left;
	padding-left:30px;}

#footer .bottom_txt {
	float:right;
	margin: 0;
	padding-right: 30px;
	text-align:right;
	line-height: 180%;
	font-size: 10px;
}

#footer a {
}

.SystemInfo a{
	Color:#FFFFFF;}

/* clearfix */
.clearfix:after{
	content:" ";
	display:block;
	visibility:hidden;
	height:0;
	clear:both;
}
.clearfix {
	clear:both;
}
.clearbox {
	clear:both; 
	width:996px; 
	margin:0 auto; 
	height:0; 
	overflow:hidden;}
.clear { 
	height:1%; 
	overflow:hidden; }