* {
	margin: 0;
	padding: 0;
}
img{
	border:0;}

.FontRed{
	color:#F00;}
p{
	line-height:200%;}

body {
	margin: 0;
	padding: 0;
	background: #181818 url(/images/boldness/wrapper-background.png) repeat;
	font-family: "Microsoft Yahei",Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #181B20;
}

h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	text-transform: lowercase;
	font-family: "Microsoft Yahei", 'Abel', sans-serif;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size:16px;
}

h3 {
	font-size: 1.6em;
}


a {
	text-decoration: none;
	color: #398A12;
}

a:hover {
	text-decoration: underline;
	color:#398A12;}

img.border {
	border: 6px solid #EEE7DF;
}

img.alignleft {
	float: left;
	margin-right: 25px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

#wrapper {
	margin: 0 auto;
	padding: 0;
}

/* Header */

#header-wrapper {
	height: 160px;
}

#header {
	width: 960px;
	height: 160px;
	margin: 0 auto;
}

/* Logo */

#logo {
	width: 980px;
	height: 100px;
	margin: 0px auto;
	padding: 50px 0px 0px 0px;
	color: #FFFFFF;
}

#logo h1, #logo p {
	display: block;
	margin: 0px;
	padding: 0px;
	text-transform: lowercase;
}

#logo h1 {
	text-align: center;
	text-transform: lowercase;
	font-size: 40px;
	color: #FFFFFF;
}

#logo h1 a {
	color: #FFFFFF;
}

#logo p {
	text-align: center;
	font-family: 'Abel', sans-serif;
	font-size: 12px;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}


/* Menu */

#menu {
	width: 940px;
	height: 60px;
	margin: 0px auto;
	padding: 0px 20px 0px 20px;
	background: #33820F url(/images/boldness/menu-wrapper-bg.png) repeat-x left top;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	margin-right: 1px;
}

#menu a {
	display: block;
	float: left;
	height: 60px;
	margin: 0px;
	padding: 0px 30px 0px 30px;
	line-height: 60px;
	letter-spacing: -1px;
	text-decoration: none;
	text-transform: lowercase;
	text-shadow: 2px 2px 2px #2E7C0E;
	font-family: "Microsoft Yahei",'Abel', sans-serif;	
	font-size: 16px;
	font-weight: normal;
	color: #FFFFFF;
	border: none;
}

#menu .current_page_item a {
	text-shadow: 2px 2px 2px #1B5803;
	background: #276D05;
}

#menu a:hover {
	background: #276D05;
	text-decoration: none;
	text-shadow: 2px 2px 2px #1B5803;
	color: #FFFFFF;
}

/* Page */

#page {
	width: 980px;
	margin: 0px auto;
	padding: 0px;
}

/* Content */

#content {
	float: right;
	width: 590px;
	padding: 30px 30px 0px 30px;
	background: #FFFFFF url(/images/boldness/content-bg-bottom.png) no-repeat left bottom;
}

.post {
	overflow: hidden;
	margin-bottom: 40px;
	border-bottom: 1px solid #E7EBED;
}

.post .ArticleTags{
	font-size:12px;
	margin-bottom:10px;}
.post .title {
	padding: 0px 0px 0px 0px;
}

.post .title a {
	border: none;
	
}

.post .meta {
	padding: 0px 0px 0px 0px;
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#666666;}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 10px 0px;
	text-align: justify;
}

.links {
	padding-top: 10px;
	font-size: 14px;
}
#content .Web_Position{
	height:30px;
	padding-top:2px;
	font-size:12px;}
	
#content .Web_Date{
	height:40px;
	float:left;
	padding-top:2px;
	font-size:12px;}	
#content .Web_Weather{
	float:left;
	padding-left:10px;}
/* Contentbox */
#contentbox{
	padding-top:20px;}

#contentbox .title{
	margin:auto;
	font-size:25px;
	text-align:center;
	padding-bottom:20px;
	color:#000000;
	font-family:Microsoft Yahei,黑体;}

#contentbox .infos{
	margin:0;
	border-top:1px solid #ccc;
	height:20px;
	padding:3px 0px;
	font-size:12px;
	background-color:#dededc;
	text-align:center;}
#contentbox .infos a{
	}	
	
#contentbox .infos li{
	line-height:normal;
	float:left;
	padding:0px 10px;}
	
#contentbox .maincontent{
	padding:20px 0px;
	line-height:180%;
	font-size:14px;}

#contentbox .maincontent  a:link{
	text-decoration:underline;}	
#contentbox .maincontent  a:visited{
	text-decoration:underline;}					

#contentbox .maincontent p{
	padding:5px;
	margin:0px;
	font-size:14px;}

#contentbox  .ContentAbout dt{
	line-height:30px;
	font-weight:bold;}
#contentbox  .ContentAbout dd{
	line-height:25px;
	font-size:14px;}
#contentbox  .ContentTags{
	line-height:30px;}	

#content  .class_all{
	background-color:f5f5f5;
	line-height:22px;
	padding:5px;
	border:1px solid #ccc;
	margin-top:5px;
	margin-bottom:10px;
	font-size:12px;
}
#content  .class_all a{
	padding:0 10px;}	

  #content   .t_page{
	padding:10px;
	text-align:center;
	font-size:12px;
	line-height:25px;
	font-family:Arial, Helvetica, sans-serif;
	}	
  #content  .t_page a{
	padding:2px 5px;
	border:1px solid #DEDEDC;
	margin:0px 3px;}		
#contentbox p{
	padding:0px;}
	
#contentbox .prenext{
	padding-bottom:20px;
}	
#contentbox .comment{
	padding-top:10px;}

#contentbox .comment .commenttopic{
	line-height:30px;
	font-size:22px;
	font-family:"Microsoft Yahei";
	text-align:center;
	margin-bottom:20px;}

#contentbox .comment .commenttitle{
	height:25px;
	line-height:25px;
	font-weight:bold;
	font-size:14px;
	padding-left:20px;
	padding-bottom:10px;
	background:url(/images/p_icon2.gif) no-repeat 0px 2px;}	

#contentbox .comment .commentbox #commentform td{
	line-height:45px;}

#contentbox .comment .commentlist dt{
	padding:5px 10px;
	background-color:#F5F5F5;
	height:22px;
	line-height:22px;
	font-size:12px;}	
#contentbox .comment .commentlist dd{
	padding:15px 0px 15px 0px;
	line-height:180%;
	font-size:14px;
	}	
#contentbox .comment .commentlist dd  b{
	color:#007d06;}

#contentbox .comment .commentlist dd span{
	color:#A00000;}	
#contentbox .comment .commentlist p{
	padding:0px;
	line-height:180%;
	margin:0px;}


#contentbox form input, form select, form textarea {
	padding: 5px;
	color: #333333;
	border: 1px solid #ddd;
	background-color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}



#content .post.albumblock{
	
	}

#content .post .albumblock .inner{
	width:262px;
	height:198px;
	border:2px solid #e8e8e8;
	float:left;
	}

#content .post .albumblock .inner img{
	border:1px solid #fff;
	margin:0px;
	padding:0px;	}	

#content .post .albumblock .inner  a:hover{
	text-decoration:none;}
#content .post .albumblock .inner  a:visited{
	text-decoration:none;}	
	
#content .post .albumblock .inner:hover{
	border:2px solid #FE7D23;}

#content .post .rightcontent{
	width:350px;
	padding-left:10px;
	float:left;
	line-height:180%;
	font-size:12px;}
	
#content .morearticle{
	width:100%;
	text-align:right;}
 .adcontent2{
	width:336px;
	margin:auto;
	padding:10px 0px;}
 .adcontent3{
	width:468px;
	margin:auto;
	padding:15px 0px;}	





/* album css */

#albumbox{}

#albumbox .albumblock{
	padding:0px 14px 20px 10px;
	float:left;
	}

#albumbox .albumblock .inner{
	width:262px;
	height:198px;
	position:relative;
	border:2px solid #e8e8e8;
	overflow:hidden;}

#albumbox .albumblock .inner img{
	border:1px solid #fff;
	margin:0px;
	padding:0px;}	

#albumbox .albumblock .inner .albumtitle{
	height:50px;
	line-height:25px;
	font-size:14px;
	width:260px;
	background:#000000;
	position:relative;
	bottom:51px;
	left:0;
	color:#fff;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	opacity:0.7;
	font-weight:bold; 
	text-align:center;
	cursor:pointer;
	margin:auto;}
#albumbox .albumblock .inner .albumtitle span{
	font-weight:normal;
	font-size:12px;}	

#albumbox .albumblock .inner  a:hover{
	text-decoration:none;}
#albumbox .albumblock .inner  a:visited{
	text-decoration:none;}	
	
#albumbox .albumblock .inner:hover{
	border:2px solid #398A12;}	

/* Sidebar */

#sidebar-bg {
	float: left;
	width: 330px;
	background: url(/images/boldness/sidebar-shadow-bg.png) repeat-y left top;
}

#sidebar {
	overflow: hidden;
	width: 270px;
	padding: 30px 30px 20px 30px;
	background: url(/images/boldness/sidebar-bg-bottom.png) no-repeat left bottom;
	font-size:12px;}

#sidebar h2 {
	margin-top: 10px;
	padding: 10px 5px; 
	font-weight:normal;
	font-size:16px;
	color:#398A12;
	border-bottom:1px solid #dfdfdf;
	margin-bottom:10px;}
#sidebar a{
	color:#333;}
#sidebar a:hover {
	text-decoration: underline;
	color:#398A12;}	
#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar ul li {
	margin-bottom: 20px;
	line-height: 1.9em;}

#sidebar li ul {
}

#sidebar li ul li {
	border-top: none;
	padding: 6px 10px;
	margin: 0;
	line-height: 1.5em;
	
}

#sidebar .adright{
	padding-bottom:20px;}
	
#sidebar .myphoto{
	padding:0px 20px 5px 0px;
	width:80px;
	float:left;
	}
#sidebar .myphoto img{
	padding:1px;
	border:1px solid #e8e8e8;}
#sidebar .myphoto img:hover{
	border:1px solid #000000;}	
#sidebar .myintro{
	width:120px;
	padding:0px;
	float:left;
	line-height:180%;}

#sidebar #slidebox{
	padding:0px 0px 30px 0px;
	height:170px;}

#sidebar #slider {
		position: absolute;
		width: 230px;
		height: 170px;
		overflow: hidden;
	padding:1px;
	border:1px solid #e8e8e8;			
	}
#sidebar #slider .slide {
		position: absolute;
		height: 170px;
		width: 230px;
		background: #000;
		overflow: hidden;
		border-left: #ffffff solid 1px;
		cursor: default;
	}
#sidebar #slider .title   {
		color: #F80;
		font-weight: bold;
		font-size: 1.2em;
		margin-right: 1.5em;
		text-decoration: none;
	}
#sidebar #slider .backgroundText {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 100%;
		background: #000;
		filter: alpha(opacity=40);
		opacity: 0.4;
	}
#sidebar #slider .text {
		position: absolute;
		top: 1%;
		top: 100%;
		color: #FFF;
		font-size: 0.9em;
		text-align: justify;
		width: 180px;
		left: 10px;
	}
#sidebar #slider .diapo {
		position: absolute;
		filter: alpha(opacity=100);
		opacity: 1;
		visibility: hidden;
	}

.FriendLink{
	line-height:180%;
	padding:0 10px;}
.FriendLink a{
	padding:0px 10px 0px 0px;
	display:block;
	width:90px;
	overflow:hidden;
	float:left;}


/* search content */
#search_content .searchtip{
	line-height:25px;
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
	BORDER-bottom: #023848 1px solid;
	padding-top:10px;
}

#search_content .result_list{
	padding:10px 10px;
	width:100%;}
	
#search_content .result_list dt{
	font-size:14px;
	font-weight:bold;
	padding-top:10px;
	line-height:25px;
	font-family:Microsoft Yahei;}	
#search_content .result_list dt a{
}
#search_content .result_list dd{
	padding:0 0 5px 0;
	margin:0px;
	line-height:20px;
	font-size:12px;
	}	

#search_content .result_list .line {
	BORDER-bottom: #E9E8E8 1px dashed;}	

#search_content .result_list .line a{
	padding-right:20px;}

#search_content .result_list .line a:hover{
	text-decoration:none;}			

#search_content .result_list .gray{
	font-size:12px;}	
#search_content .search_welcome{
	line-height:25px;
	text-align:center;
	}
#search_content .search_welcome p{
	text-align:center;}		
#search_content .result_page{
	text-align:center;
	font-size:13px;
	padding:10px;}

#search_content .result_page span{
	font-size:12px;
	font-family:arial;
	padding:0 5px;
	}	

/* Search */

#search {

	padding: 0px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search #search-text {
	width: 160px;
	border: none;
	font:  12px Arial, Helvetica, sans-serif;
	margin:0px;
	padding:0px;
	border-left:1px solid #030404;
	border-top:1px solid #030404;
	border-bottom:1px solid #030404;
	border-right:none;			
	height:25px;
	line-height:25px;
	padding-left:5px;
	color:#ccc;
	background-color:#FFFFFF;
}

#search #search-submit {
	background-color:#030404;
	border:none;
	margin:0px;
	padding:0px;
	height:27px;
	width:44px;
	cursor:pointer;
	color:#FFFFFF;}
	

/* clearfix */
.clearfix:after{
	content:" ";
	display:block;
	visibility:hidden;
	height:0;
	clear:both;
}
.clearfix {
	clear:both;
}
.clearbox {
	clear:both; 
	width:996px; 
	margin:0 auto; 
	height:0; 
	overflow:hidden;}
.clear { 
	height:1%; }
	
/* Footer */

#footer {
	width: 650px;
	height: 100px;
	margin: 0px auto;
	padding-left: 330px;
}

#footer p {
	margin: 0;
	padding-top: 18px;
	line-height: normal;
	letter-spacing: -1px;
	text-align: center;
	text-shadow: 1px 1px 1px #050505;
	text-transform: lowercase;
	font-family: 'Abel', arial,sans-serif;
	font-size: 12px;
	color: #525050;
}

#footer a {
	text-decoration: none;
	color: #525050;
}

#Topslider {
	position: relative;
	width: 590px;
	margin: 0px auto 20px auto;
}

#Topslider .viewer {
	width: 590px;
	height: 300px;
	overflow: hidden;
	margin: 0 auto;
}

#Topslider .viewer .reel {
	display: none;
	height: 300px;
}

#Topslider .viewer .reel .slide {
	position: relative;
	width: 590px;
	height: 300px;
}
