
body {
	padding: 0;
	background: #0A1420;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ccc;
}

* {
    margin: 0;
    padding: 0;
}

.FontRed{
	color:#ff0000;}
.HighLight{
	color:#FE6603;
	font-family:Arial, Helvetica, sans-serif;}
	
h1, h2, h3 {
	color: #FFFFFF;
}

h1 {
	font-size: 1.6em;
	font-weight: normal;
    font-family: Microsoft Yahei,Arial, Helvetica, sans-serif;
}

h2 {
	font-size: 1.6em;
    font-family: Microsoft Yahei,"ºÚÌå",Arial, Helvetica, sans-serif;
}

h3 {
	font-size: 1em;
}

ul {
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

a:hover {
	border-bottom: none;
	text-decoration: underline;
}

a img {
	border: none;
}

p{
	line-height:190%;}

#header {
	width: 950px;
	height: 170px;
	margin: auto;
}

/* Header */

#logo {
	height: 80px;
	padding: 20px 0 20px 20px;
}

#logo h1, #logo p {
	float: left;
	margin: 0;
	color: #FFFFFF;
}

#logo span {
}

#logo h1 {
	padding: 25px 0 0 0;
	font-weight: normal;
	font-size: 3em;
}

#logo p {
	padding: 47px 0 0 20px;
	font-size: 12px;
	color: #CCCCCC;
}

#logo a {
	border: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */

#menu {
	width: 940px;
	height: 50px;
	margin:auto;
	background: url(/images/majestic/img01.gif)  no-repeat left top;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	height: 34px;
	margin: 0;
	padding: 16px 30px 0 30px;
	background: url(/images/majestic/img14.gif) no-repeat right 7px;
	font-size: 14px;
	font-weight: bold;
	color: #04283B;
}

#menu a:hover {
	color: #04283B;
}

#menu .current_page_item a {
	color: #04283B;
}

/* Wrapper */

#wrapper {
}

/* Page */

#page {
	width: 940px;
	margin: 0 auto;
	padding: 10px 0 10px 0;
}

#page-bg {
}

/* Content */

#content {
	float: left;
	width: 700px;
	background: url(/images/majestic/img12.gif) repeat-y left top;
	margin-bottom:10px;}

#content-bgtop {
	background: url(/images/majestic/img11.gif) no-repeat left top;
}

#content-bgbtm {
	padding: 10px 10px;
	background: url(/images/majestic/img13.gif) no-repeat left bottom;
}

.post {
	padding:0 0px;
	background: url(/images/majestic/img15.gif) repeat-x left bottom;
	margin:0 0 10px 10px;}

.post .meta{
	padding:5px 0;}

.post .ArticleTags{
	padding:5px 0;}
.post .ArticleTags a{
}

.post .meta,.post .ArticleTags{
	padding:0px 10px;}

.post h1 {
	font-weight: normal;
}

.title {
	margin: 0;
	padding: 0px 0 0px 10px;
	font-weight: normal;
}

.title a {
	border-bottom: none;
	color: #FFFFFF;
}

.tag {
	padding: 0 15px;
}

.entry {
	padding: 0 10px;
}

.links {
	padding: 4px 0px;
	text-align: right;
	font-weight: bold;
}

.links a {
	border: none;
}

.links a:hover {
}

#content .Web_Position{
	height:30px;
	padding-left:20px;
	font-size:12px;}
	
#content .Web_Date{
	height:40px;
	float:left;
	padding-left:20px;
	font-size:12px;}	
#content .Web_Weather{
	float:left;
	padding-left:20px;}
/* Contentbox */
#contentbox{
	padding-top:20px;
	padding-left:10px;}

#contentbox .title{
	margin:auto;
	font-size:25px;
	text-align:center;
	padding-bottom:20px;
	color:#FFFFFF;
	font-family:Microsoft Yahei,ºÚÌå;}

#contentbox .infos{
	margin:0;
	border-top:1px solid #999999;
	height:20px;
	padding:3px 0px;
	font-size:12px;
	background-color:#4C545C;
	text-align:center;}
#contentbox .infos a{
	}	
	
#contentbox .infos li{
	line-height:normal;
	float:left;
	padding:0px 10px;}
	
#contentbox .maincontent{
	padding:20px 0px;
	line-height:180%;
	font-size:14px;}

#contentbox .maincontent  a:link{
	text-decoration:underline;}	
#contentbox .maincontent  a:visited{
	text-decoration:underline;}					

#contentbox .maincontent p{
	padding:5px;
	margin:0px;
	font-size:14px;}

#contentbox  .ContentAbout dt{
	line-height:30px;
	font-weight:bold;}
#contentbox  .ContentAbout dd{
	line-height:25px;
	font-size:14px;}
#contentbox  .ContentTags{
	line-height:30px;}	

#content  .class_all{
	background-color:f5f5f5;
	line-height:22px;
	padding:5px;
	border:1px solid #ccc;
	margin-top:5px;
	margin-bottom:10px;
	margin-left:10px;}
#content  .class_all a{
	padding:0 10px;}	

  #content   .t_page{
	padding:10px;
	text-align:center;
	font-size:12px;
	line-height:25px;
	font-family:Arial, Helvetica, sans-serif;
	}	
  #content  .t_page a{
	padding:2px 5px;
	border:1px solid #DEDEDC;
	margin:0px 3px;}		
#contentbox p{
	padding:0px;}
	
#contentbox .prenext{
	padding-bottom:20px;
}	
#contentbox .comment{
	padding-top:10px;
}

#contentbox .comment .commenttopic{
	line-height:30px;
	font-size:22px;
	font-family:"Microsoft Yahei";
	text-align:center;
	margin-bottom:20px;}

#contentbox .comment .commenttitle{
	height:25px;
	line-height:25px;
	font-weight:bold;
	font-size:14px;
	padding-left:20px;
	padding-bottom:10px;
	background:url(/images/p_icon2.gif) no-repeat 0px 2px;}	

#contentbox .comment .commentbox #commentform td{
	height:25px;}

#contentbox .comment .commentlist dt{
	padding:5px 10px;
	background-color:#4C545C;
	height:22px;
	line-height:22px;
	font-size:12px;}	
#contentbox .comment .commentlist dd{
	padding:15px 0px 15px 10px;
	line-height:180%;
	font-size:14px;
	}	
#contentbox .comment .commentlist dd  b{
	color:#FE7D23;}

#contentbox .comment .commentlist dd span{
	color:#0E9199;}	
#contentbox .comment .commentlist p{
	padding:0px;
	line-height:180%;
	margin:0px;}


#contentbox form input, form select, form textarea {
	padding: 5px;
	color: #333333;
	border: 1px solid #ddd;
	background-color:#fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}



#content .post.albumblock{
	
	}

#content .post .albumblock .inner{
	width:262px;
	height:198px;
	border:2px solid #e8e8e8;
	float:left;
	}

#content .post .albumblock .inner img{
	border:1px solid #fff;
	margin:0px;
	padding:0px;	}	

#content .post .albumblock .inner  a:hover{
	text-decoration:none;}
#content .post .albumblock .inner  a:visited{
	text-decoration:none;}	
	
#content .post .albumblock .inner:hover{
	border:2px solid #0A1420;}

#content .post .rightcontent{
	width:350px;
	padding-left:10px;
	float:left;
	line-height:180%;
	font-size:12px;}
	
#content .morearticle{
	padding:20px 0;
	width:100%;
	text-align:right;}
 .adcontent2{
	width:336px;
	margin:auto;
	padding:10px 0px;}
 .adcontent3{
	width:468px;
	margin:auto;
	padding:15px 0px;}	


/* album css */

#albumbox{
	padding-left:20px;}

#albumbox .albumblock{
	padding:0px 44px 30px 10px;
	float:left;
	}

#albumbox .albumblock .inner{
	width:262px;
	height:198px;
	position:relative;
	border:2px solid #e8e8e8;
	overflow:hidden;}

#albumbox .albumblock .inner img{
	border:1px solid #fff;
	margin:0px;
	padding:0px;}	

#albumbox .albumblock .inner .albumtitle{
	height:50px;
	line-height:25px;
	font-size:14px;
	width:260px;
	background:#0A1420;
	position:relative;
	bottom:51px;
	left:0;
	color:#fff;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	opacity:0.7;
	font-weight:bold; 
	text-align:center;
	cursor:pointer;
	margin:auto;}
#albumbox .albumblock .inner .albumtitle span{
	font-weight:normal;
	font-size:12px;}	

#albumbox .albumblock .inner  a:hover{
	text-decoration:none;}
#albumbox .albumblock .inner  a:visited{
	text-decoration:none;}	
	
#albumbox .albumblock .inner:hover{
	border:2px solid #0A1420;}	

/* Sidebars */

#sidebar {
	float: left;
	background: url(/images/majestic/img04.gif) repeat-y left top;
	color: #04283B;
	margin-bottom:10px;}

#sidebar1-bgtop {
	background: url(/images/majestic/img03.gif) no-repeat left top;
}

#sidebar1-bgbtm {
	padding-top: 10px;
	background: url(/images/majestic/img05.gif) no-repeat left bottom;
}

#sidebar li h2 {
	height: 30px;
	margin: 0px 0px 10px 0px;
	padding: 10px 0px 0px 15px;
	background: url(/images/majestic/img06.gif) no-repeat -10px top;
	font-size: 18px;
	color: #04283B;
	font-weight:normal;
}

#sidebar a {
	color: #04283B;
}

#sidebar {
	float: left;
	width: 240px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	padding: 0 0 20px 10px;
}

#sidebar li ul {
}

#sidebar li li {
	margin: 0 20px 0 15px;
	padding: 8px 0px;
	border-bottom: 1px #BBBBBB dashed;
}


#sidebar a {
}

#sidebar .adright{
	padding-bottom:20px;}
	
#sidebar .myphoto{
	padding:0px 20px 5px 0px;
	width:80px;
	float:left;
	}
#sidebar .myphoto img{
	padding:1px;
	border:1px solid #e8e8e8;}
#sidebar .myphoto img:hover{
	border:1px solid #0A1420;}	
#sidebar .myintro{
	width:110px;
	padding:0px;
	float:left;
	line-height:180%;}

#sidebar #slidebox{
	padding:0px 0px 30px 0px;
	height:160px;}

#sidebar #slider {
		position: absolute;
		width: 210px;
		height: 160px;
		overflow: hidden;
	padding:1px;
	border:1px solid #e8e8e8;			
	}
#sidebar #slider .slide {
		position: absolute;
		height: 160px;
		width: 210px;
		background: #000;
		overflow: hidden;
		border-left: #ffffff solid 1px;
		cursor: default;
	}
#sidebar #slider .title   {
		color: #F80;
		font-weight: bold;
		font-size: 1.2em;
		margin-right: 1.5em;
		text-decoration: none;
	}
#sidebar #slider .backgroundText {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 100%;
		background: #000;
		filter: alpha(opacity=40);
		opacity: 0.4;
	}
#sidebar #slider .text {
		position: absolute;
		top: 1%;
		top: 100%;
		color: #FFF;
		font-size: 0.9em;
		text-align: justify;
		width: 180px;
		left: 10px;
	}
#sidebar #slider .diapo {
		position: absolute;
		filter: alpha(opacity=100);
		opacity: 1;
		visibility: hidden;
	}

.FriendLink{
	line-height:180%;
	padding:0 10px;}
.FriendLink a{
	padding:0px 10px 0px 0px;
	display:block;
	width:80px;
	overflow:hidden;
	float:left;}

/* search content */
#search_content{
	padding:0px 10px;}
#search_content .searchtip{
	line-height:25px;
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
	BORDER-bottom: #023848 1px solid;
	padding-top:10px;
}

#search_content .result_list{
	padding:10px 10px;
	width:100%;}
	
#search_content .result_list dt{
	font-size:14px;
	font-weight:bold;
	padding-top:10px;
	line-height:25px;
	font-family:Microsoft Yahei;}	
#search_content .result_list dt a{
}
#search_content .result_list dd{
	padding:0 0 5px 0;
	margin:0px;
	line-height:20px;
	font-size:12px;
	}	

#search_content .result_list .line {
	BORDER-bottom: #E9E8E8 1px dashed;}	

#search_content .result_list .line a{
	padding-right:20px;}

#search_content .result_list .line a:hover{
	text-decoration:none;}			

#search_content .result_list .gray{
	font-size:12px;}	
#search_content .search_welcome{
	line-height:25px;
	text-align:center;
	}
#search_content .search_welcome p{
	text-align:center;}		
#search_content .result_page{
	text-align:center;
	font-size:13px;
	padding:10px;}

#search_content .result_page span{
	font-size:12px;
	font-family:arial;
	padding:0 5px;
	}	
/* Search */


/* Search */

#search {
	padding: 20px 0 0 10px;
	margin:auto;}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search #search-text {
	width: 140px;
	border: none;
	font:  12px Arial, Helvetica, sans-serif;
	margin:0px;
	padding:0px;
	border-left:1px solid #20252B;
	border-top:1px solid #20252B;
	border-bottom:1px solid #20252B;
	border-right:none;			
	height:25px;
	line-height:25px;
	padding-left:5px;
	color:#999999;
	background-color:#D3D7DB;}

#search #search-submit {
	background-color:#20252B;
	border:none;
	margin:0px;
	padding:0px;
	height:27px;
	width:54px;
	cursor:pointer;
	color:#FFFFFF;}
	
/* Calendar */

#calendar_wrap {
	padding: 0 15px;
	text-align: center;
}

#calendar_wrap table {
	width: 100%;
}

#calendar_wrap th {
}

#calendar_wrap td {
}

#calendar_wrap tfoot td {
	border: none;
}

#calendar_wrap tfoot td#prev {
	text-align: left;
	font-weight: bold;
	border: none;
}

#calendar_wrap tfoot td#prev a {
	border: none;
}

#calendar_wrap tfoot td#next {
	text-align: right;
	font-weight: bold;
	border: none;
}

#calendar_wrap tfoot td#next a {
	border: none;
}

/* Footer */

#footer {
	width: 940px;
	height: 90px;
	margin:auto;
	padding: 0px 0px 0px 0px;
	color: #FFFFFF;
	background:url(/images/majestic/footer_bg.jpg) left top;
	overflow:hidden;
	}


#footer .bottom_logo{
	float:left;
	padding-left:20px;
	padding-top:10px;}

#footer .bottom_txt {
	padding-top:10px;
	float:right;
	margin: 0;
	padding-right: 10px;
	text-align:right;
	line-height: 180%;
	font-size: 10px;
}
/* clearfix */
.clearfix:after{
	content:" ";
	display:block;
	visibility:hidden;
	height:0;
	clear:both;
}
.clearfix {
	clear:both;
}
.clearbox {
	clear:both; 
	width:996px; 
	margin:0 auto; 
	height:0; 
	overflow:hidden;}
.clear { 
	height:1%; 
	overflow:hidden; }
